*{
    box-sizing: border-box;
    button{
        &:hover{
            scale: 1.05;
            cursor: pointer;
        }
        &:active{
            background-color: blue;
        }
    }
}

body{
    margin: auto;
    background-color: black;
}

