#title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    
    img {
       
        border-radius: 15px;
        padding: 2px 2px;
        width: 50vh;
        border: 2px solid grey;
        margin: 5px, 5px;

    }

    
}
h2{
    font-size:xx-large;
    text-align: center;
     color: darksalmon;
     font-weight: bold;
     text-decoration: underline;
 }