.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 75ch;
  margin: auto;
}
.wrapper .box1, .wrapper .box2, .wrapper .box3, .wrapper .box4, .wrapper .box5, .wrapper .box6, .wrapper .box7, .wrapper .box8 {
  height: 300px;
  background-color: teal;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  transition: all 1s;
}