body {
  width: auto;
  min-height: 90vh;
  padding: auto;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  color: white;
  box-sizing: border-box;
  overflow-y: scroller;
}

.container {
  display: flex;
  min-height: 150vh;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: #333333;
  padding: 0%;
  position: absolute;
  overflow-y: scroll;
}
.container__scroller {
  background-color: #000000;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100%;
  position: absolute;
  box-sizing: border-box;
  height: 1500px;
}
.container__scroller__apps {
  background: #b3b3b3;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: border-radius 128ms, background 128ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__scroller .divider {
  width: 100%;
  background-color: lightgray;
  height: 2px;
  border-radius: 1px;
  opacity: 0.5;
  transform: scale(0.75);
}
.container__scroller .green--color:hover {
  background-color: green;
}
.container__scroller .purple--color:hover {
  background-color: purple;
}
.container__scroller .orange--color:hover {
  background-color: orange;
}
.container__scroller .blue--me:hover {
  background-color: blue;
}
.container__scroller__apps:hover .popup--me {
  opacity: 1;
}
.container__scroller__apps:hover .popup--green {
  opacity: 1;
}
.container__scroller__apps:hover .popup--purple {
  opacity: 1;
}
.container__scroller__apps:hover .popup--orange {
  opacity: 1;
}
.container .container__scroller__apps:hover::before {
  transform: translate(-100%, -50%) scale(0.5);
}
.container .container__scroller__apps:hover {
  border-radius: 25%;
}
.container .container__scroller__apps::before {
  width: 100%;
  height: 100%;
  content: "";
  transform: translate(-100%, -50%) scale(0);
  position: absolute;
  background-color: white;
  border-radius: 4px;
  top: 50%;
  transition: transform 180ms;
}
.container .popup--me {
  background-color: black;
  position: absolute;
  padding: 0.68rem 1rem 1rem 1rem;
  top: 50%;
  left: 154%;
  width: -moz-max-content;
  width: max-content;
  border-radius: 15px;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
}
.container .popup--green {
  background-color: black;
  position: absolute;
  padding: 0.68rem 1rem 1rem 1rem;
  top: 50%;
  left: 154%;
  width: -moz-max-content;
  width: max-content;
  border-radius: 15px;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
}
.container .popup--purple {
  background-color: black;
  position: absolute;
  padding: 0.68rem 1rem 1rem 1rem;
  top: 50%;
  left: 154%;
  width: -moz-max-content;
  width: max-content;
  border-radius: 15px;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
}
.container .popup--orange {
  background-color: black;
  position: absolute;
  padding: 0.68rem 1rem 1rem 1rem;
  top: 50%;
  left: 154%;
  width: -moz-max-content;
  width: max-content;
  border-radius: 15px;
  transform: translateY(-50%);
  opacity: 0;
  pointer-events: none;
}
.container .popup--me::before {
  position: absolute;
  background: black;
  width: 24px;
  left: -2px;
  top: 50%;
  content: "";
  height: 24px;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}
.container .popup--green::before {
  position: absolute;
  background: black;
  width: 24px;
  left: -2px;
  top: 50%;
  content: "";
  height: 24px;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}
.container .popup--purple::before {
  position: absolute;
  background: black;
  width: 24px;
  left: -2px;
  top: 50%;
  content: "";
  height: 24px;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}
.container .popup--orange::before {
  position: absolute;
  background: black;
  width: 24px;
  left: -2px;
  top: 50%;
  content: "";
  height: 24px;
  transform: translateY(-50%) rotate(45deg);
  z-index: -1;
}
.container .web {
  width: inherit;
  border-radius: 50%;
}
.container__sidebar {
  background-color: #1a1a1a;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  height: 1500px;
  width: 210px;
  margin-left: 70px;
  box-sizing: border-box;
  min-height: 100%;
}
.container__sidebar__friends {
  color: aliceblue;
  background-color: #1a1a1a;
  height: 45px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: -15px;
}
.container__sidebar__friends .friends-icon {
  width: 20px;
  height: 115px;
}
.container__sidebar__friends:hover {
  transform: scale(0.9);
  transition: transform ease-in 0.2s;
  cursor: pointer;
  text-align: center;
  background-color: #1a1a1a;
}
.container__sidebar__nitro {
  background-color: #1a1a1a;
  height: 45px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: -15px;
}
.container__sidebar__nitro .nitro-icon {
  width: 20px;
  height: 115px;
}
.container__sidebar .direct {
  font-size: 14px;
}
.container #searchbar {
  background-color: #1a1a1a;
  color: aliceblue;
  font-size: 11px;
  border: 2px solid red;
}
.container #btn_search {
  width: 150px;
  margin: -15px;
  background-color: #b3b3b3;
}
.container .divider2 {
  width: 100%;
  background-color: lightgray;
  opacity: 0.5;
  height: 2px;
  margin-top: -10px;
}
.container__player1 {
  height: 45px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: none;
  font-size: 16px;
  margin-top: -15px;
}
.container .avatar-p1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.container__player2 {
  width: 15px;
  border: 1px solid red;
  height: 15px;
  border-radius: 50%;
}
.container .avatar-p2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.container__player3 {
  width: 15px;
  border: 1px solid red;
  height: 15px;
  border-radius: 50%;
}
.container .avatar-p3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.container .container__main_items {
  margin-top: 20px;
  display: flex;
  flex-direction: rows;
}
.container .container__main_items__items {
  display: flex;
  flex-direction: row;
  width: 170px;
  height: 40px;
  justify-content: center;
  font-size: 7px;
}
.container .container__main_items__items__addfriends {
  display: flex;
  flex-direction: row;
  width: 170px;
  height: 40px;
  border: 2px solid green;
  background-color: green;
  justify-content: center;
  font-size: 7px;
}
.container .container__main_items .divider3 {
  width: 1200px;
  background-color: lightgray;
  opacity: 0.5;
  height: 2px;
  margin-top: 60px;
  margin-left: -74.5rem;
}
.container .container__main_items .container__main_items__post {
  display: flex;
  flex-direction: columns;
  justify-content: center;
}
.container .container__main_items .container__main_items__post .container__main_items__post1 {
  position: absolute;
  width: 1150px;
  height: 300px;
  border: 2px solid black;
  top: 150px;
  left: 320px;
}
.container .container__main_items .container__main_items__post .container__main_items__post2 {
  position: absolute;
  width: 1150px;
  height: 350px;
  border: 2px solid black;
  top: 550px;
  left: 320px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .container__main_items .container__main_items__post .container__main_items__post3 {
  position: absolute;
  width: 1150px;
  height: 350px;
  border: 2px solid black;
  top: 1050px;
  left: 320px;
  background-size: cover;
  background-position: center;
}