body{
    margin:0;
}

.grid_container{
    height: 500px;
    width: 500px;
    border: 1 px solid black;
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    .grid_item1{
        background-color: black;
    }
    .grid_item2{
        background-color: white;
    }
    .grid_item3{
        background-color: black;
    }
    .grid_item4{
        background-color: white;
    }
    .grid_item5{
        background-color: black;
    }
    .grid_item6{
        background-color: white;
    }
    .grid_item7{
        background-color: black;
    }
    .grid_item8{
        background-color: white;
    }
    .grid_item9{
        background-color: black;
    }
}