* {
  padding: 0;
  margin: 0;
  padding: 0;
}

#goBackFromCart {
  z-index: 999;
  position: absolute;
  top: 8px;
  left: 10px;
}
#goBackFromCart i {
  font-size: 2rem;
}

.cart {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}
.cart.active {
  display: flex;
}
.cart__title {
  width: 150px;
  border-radius: 15px;
  background-color: black;
  z-index: 999;
  color: rgb(199, 184, 184);
  position: absolute;
  text-align: center;
  left: 50%;
  top: 7px;
  transform: translateX(-50%);
}
.cart__details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-basis: 50%;
  background-color: rgb(255, 119, 0);
}
.cart__details-container__title {
  padding: 7px;
}
.cart__details-container__lists {
  overflow-y: scroll;
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cart__details-container__lists::-webkit-scrollbar {
  width: 0;
}
.cart__details-container__link {
  margin: 5px;
  background-color: rgba(0, 0, 0, 0.267);
  padding: 10px;
  width: inherit;
  justify-content: space-around;
  display: flex;
}
.cart__details-container__link h4 {
  margin-right: 3px;
}
.cart__details-container__link div.container-edit-product-cart {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.cart__details-container__link div.container-edit-product-cart button {
  margin: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: unset;
}
.cart__details-container__link div.container-edit-product-cart button:hover {
  scale: 1.05;
}
.cart__details-container__link div.container-edit-product-cart button:active {
  scale: 0.95;
}
.cart__details-container__link div.container-edit-product-cart i {
  font-size: 1.4rem;
}
.cart__payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-left: 3px solid black;
  flex-basis: 50%;
  background-color: rgb(219, 94, 10);
}
.cart__payment-container__title {
  padding: 7px;
}
.cart__payment-container img {
  width: 350px;
  cursor: pointer;
}
.cart__payment-container img:hover {
  filter: invert(10%);
  scale: 1.1;
}