:root {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
body {
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  background-color: #E7EBF0;
}

body::-webkit-scrollbar {
  display: none;
}

