body {
    margin: 0px;
}

.nice {
        &__in-nice {
        background-color: red;
        height: 400px;
        width: 1200px;
        display:flex;
        justify-content: center;
        align-items: center;
        align-self: auto;
        justify-self: auto;

}