body
{
    margin: 0;
}
 .box{
    width: 50vw;
    height: 50vh;
    background-color: aqua;
    margin: auto;
    border: 5px solid black;
    img{
        width: 50vw;
        height: 25vh;
    }
 }
