body
{
    margin: 0;
}
 .header{
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blue;
&__box1{
    background-color: crimson;
    height: 45px;
    width: 150px;
    top: 15px;
    position: relative;
}
    &__box2{
        background-color: chartreuse;
        height: 45px;
    width: 150px;
    top: 15px;
    position: relative;
    }
    &__box3{
        background-color: darkgoldenrod;
        height:45px;
    width: 150px;
    top: 15px;
    position: relative;
}
 }
 @media only screen and(max-width: 600px){
    .header{

flex-direction:column-reverse;
height: 450px;

    }
 }