.AddWrapper{
    margin: 2rem 0 0 8rem;
}

.button{
padding: 2rem 0 2rem 0;
}

.fields{
    padding-bottom: 1rem;
}

.semiTitle{
    font-size: 1.6rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.photoField{
padding-top: 1rem;
}

