body {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.watsapp-screen {
  width: 500px;
  height: 790px;
  background-color: white;
  margin: 20px auto;
  border: 3px solid gainsboro;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 25px;
}
.watsapp-screen__indicator-bar {
  width: 100%;
  height: 25px;
  background-color: rgb(3, 70, 3);
  display: flex;
  flex-direction: row;
  gap: 400px;
  top: 0px;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  margin-right: 5px;
}
.watsapp-screen__indicator-bar p {
  font-size: 11px;
  color: white;
  left: 5px;
  bottom: 5px;
}
.watsapp-screen__indicator-bar span {
  color: white;
  font-size: 20px;
}
.watsapp-screen__search-input {
  width: 100%;
  height: 50px;
  background-color: rgb(3, 85, 3);
  display: flex;
  flex-direction: row;
  gap: 360px;
  position: relative;
}
.watsapp-screen__search-input h3 {
  color: white;
  margin-top: 15px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  opacity: 0.9;
}
.watsapp-screen__search-input span {
  color: white;
  opacity: 0.61;
}
.watsapp-screen__search-input__icon {
  top: 15px;
  position: relative;
}
.watsapp-screen__chats-bar {
  width: 100%;
  height: 50px;
  background-color: rgb(3, 85, 3);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.watsapp-screen__chats-bar H5 {
  color: white;
  opacity: 0.61;
}
.watsapp-screen__chats-bar__camera {
  top: 15px;
  position: relative;
}
.watsapp-screen__chats-bar span {
  color: white;
  opacity: 0.61;
}
.watsapp-screen__contact-chats {
  width: 100%;
  height: 75px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.watsapp-screen__contact-chats span {
  font-size: 15px;
  color: green;
  position: relative;
  right: 5px;
  font-weight: bolder;
}
.watsapp-screen__contact-chats__contact {
  width: 45%;
  height: 100%;
  position: relative;
  display: flex;
  gap: 10px;
  margin-top: 0px;
}
.watsapp-screen__contact-chats__contact__circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: rgb(128, 223, 128);
  left: 10px;
  top: 10px;
  position: relative;
}
.watsapp-screen__contact-chats__contact__usrename {
  width: 66%;
  height: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.watsapp-screen__contact-chats__contact__usrename--redarrow span {
  color: red;
}
.watsapp-screen__contact-chats__contact__usrename h5 {
  display: inline;
  margin-top: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.watsapp-screen__contact-chats__contact__usrename h6 {
  display: inline;
  margin-top: 0px;
  margin-left: 10px;
  opacity: 0.6;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.watsapp-screen {
  width: 500px;
  height: 790px;
  background-color: wheat;
  margin: 20px auto;
  border: 3px solid gainsboro;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 25px;
}
.watsapp-screen__indicator-bar {
  width: 100%;
  height: 25px;
  background-color: rgb(3, 70, 3);
  display: flex;
  flex-direction: row;
  gap: 400px;
  top: 0px;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  margin-right: 5px;
}
.watsapp-screen__indicator-bar p {
  font-size: 11px;
  color: white;
  margin-left: 5px;
  bottom: 5px;
  opacity: 0.61;
}
.watsapp-screen__indicator-bar span {
  color: white;
  font-size: 20px;
  opacity: 0.9;
}
.watsapp-screen__user-bar {
  width: 100%;
  height: 50px;
  background-color: rgb(3, 70, 3);
  display: flex;
  flex-direction: row;
  position: relative;
}
.watsapp-screen__user-bar span {
  color: white;
  opacity: 0.61;
  margin-top: 15px;
  position: relative;
}
.watsapp-screen__user-bar__user {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 3px;
}
.watsapp-screen__user-bar__user h4 {
  color: white;
  opacity: 0.61;
}
.watsapp-screen__user-bar__icon {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
}
.watsapp-screen__user-chats {
  width: 100%;
  height: 675px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  position: relative;
}
.watsapp-screen__user-chats__chats {
  width: 230px;
  margin-left: 5px;
  position: relative;
  display: flex;
}
.watsapp-screen__user-chats__chats--right {
  position: relative;
  left: 500px;
}
.watsapp-screen__user-chats__chats__p-box {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 15px;
  border: 1px solid gainsboro;
}
.watsapp-screen__user-chats__chats__p-box--color {
  background-color: rgb(167, 187, 144);
}
.watsapp-screen__message {
  width: 80%;
  height: 50px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.watsapp-screen__message__icons {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: row;
  opacity: 0.61;
  gap: 10px;
}
.watsapp-screen__message__icons span {
  margin-top: 15px;
  opacity: 0.81;
}