@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(234, 234, 234);
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

main {
    margin-bottom: 60px;
}

/*story*/

.story {
    display: flex;
    margin-top: 60px;
    margin-left: 50%;
    transform: translate(-50%);
    width: 400px;
    overflow-x: scroll;
    padding: 10px 0;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(189, 188, 188);
    padding: 15px;
}

.story>div {
    margin: 0 10px;
}

.story_pic h6 {
    margin: 5px auto;
}

.story_pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*header*/

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    width: 600px;
    height: 50px;
    z-index: 5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

input {
    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.inside_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.instagram_logo {
    height: 40px;
}

.heart {
    margin-left: 5px;
    height: 25px;
}



/*card*/

.card {
    position: relative;
    width: 400px;
    margin: 10px auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(189, 188, 188);
    padding: 5px;
}

#instagram_round {
    width: 60px;
}

#white {
    width: 39px;
    height: 39px;
}

#profile {
    width: 35px;
    height: 35px;
}

#card_pic {
    padding: 5px 0;
}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.head_opener {
    display: flex;
    align-items: center;
}

.instagram_logo_round {
    width: 80px;
    position: absolute;
}

.circul {
    position: absolute;
    width: 53px;
    height: 53px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.profile_pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 2;
}

.pic {
    display: grid;
    place-items: center;
    position: relative;
    width: 75px;
}

.big_img {
    width: 100%;
    margin: 0;
}

.comments {
    margin: 7px 5px;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.icon_pic {
    width: 20px;
    margin: 7px 5px;
}

.gray {
    color: gray;
}

.card h5,
.card h6 {
    margin: 7px 5px;
}

hr {
    width: 100%;
    margin: 7px 0px;
}

.add_comment {
    display: flex;
    align-items: center;
}

.post {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(49, 247, 247, 0.584);
}


/*footer*/

footer {
    width: 600px;
    height: 50px;
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 5;
}

.footer_pic {
    width: 30px;
    border-radius: 50%;
}


/*hover*/

footer:nth-child(1):hover, .instagram_logo:hover {
    cursor: pointer;
}

