body {
  background-color: beige;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  height: 100px;
  width: 100px;
  border: black solid 3px;
  -webkit-animation-name: myMove;
          animation-name: myMove;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}

@-webkit-keyframes myMove {
  0% {
    background-color: coral;
    border-color: black;
  }
  50% {
    background-color: black;
    border-color: coral;
  }
  100% {
    background-color: coral;
    border-color: black;
  }
}

@keyframes myMove {
  0% {
    background-color: coral;
    border-color: black;
  }
  50% {
    background-color: black;
    border-color: coral;
  }
  100% {
    background-color: coral;
    border-color: black;
  }
}