body {
  margin: 0;
  padding: 0;
}

.box {
  display: grid;
  height: 50vh;
  width: 50vw;
  background: rgb(0, 204, 255);
  grid-template-rows: 1fr 1fr 2fr;
  gap: 10px;
}
.box .boxgrid {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  font-size: 5px;
  text-align: center;
  background: white;
  font-size: 13px;
}