* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

button, .btn {
  padding: 3px 5px;
  background-color: white;
  border-radius: 5px;
  border: 1px black solid;
  cursor: pointer;
}

button:hover, .btn:hover {
  background-color: rgb(198, 197, 197);
}

#display .student {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: aqua;
  border: 1px solid black;
  max-width: 400px;
}