.contactContainer {
    width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(164, 98, 98, 0.1);
  }
  
  .contactContainer h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .contactContainer p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 0.5rem;
  }
  
  .contactContainer a {
    color: #646cff;
    text-decoration: none;
  }
  
  .contactContainer a:hover {
    text-decoration: underline;
  }