*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // cursor: none;
}
body {
    background-image: url(https://i0.wp.com/animationscreencaps.com/wp-content/uploads/2022/01/4kbugslife-animationscreencaps.com--scaled.jpg?fit=2560%2C1109&ssl=1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 70vw;
margin-left: 15px;


}

.container {


    .form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 400px;
        align-items: center;
        padding-top:  8rem;
        padding-left:  11rem;
        // margin-left: 5rem;
        // padding: 1rem;



        .input {
            background-color: bisque;
            width: 550px;
            height: 3rem;

        }

        .btn , .rules, a{
            background-color:mediumseagreen;
            width: 450px;
            height: 3rem;
            font-size: 2rem;
            outline: none;
        }
        #start{
            background-color:mediumseagreen;
            width: 450px;
            height: 3rem;
            font-size: 2rem;
            outline: none;
            display: none;
        }

        .card{
            padding: 20px;
            border-radius: 10px;
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.394);
            max-width: 300px;
            position: absolute;
            z-index: 10px;
        
            img{
                width: 100%;
            }
        }

    }
















}