
.instgramtop{
    width: 50rem;
    height: 4rem;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    align-items: center;
    top: 0;
    position: fixed;
    margin: 0;

}
._ab6-{ 
    
}
.home{
    margin-left: 400px;

    width: 35px;

} 
.massage{
    margin-left: 5px;

    width: 35px;
}
.add{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.explore{
    margin-left: 5px;
    width: 20px;
    height: 20px;
}
.like{
    margin-left: 5px;
    width: 25px;
    height: 25px;
}
.profile{
    margin-left: 5px;
    width: 45px;
    height: 45px;
}
.search{
    position: absolute;
    left: 8rem;
    

    
}
.story{
    border: 2px solid black;
    width: 300px;
    height: 150px;
    margin-left: 150px;
    margin-top: 100px;

}
.story1{
    height: 100px;
    float: right;
}
.story2{
    height: 100px;
    float: right;
}
.story3{
    height: 100px;
    float: right;
}
.name1{
    position: relative;
    left: 24px;

}
.name2{
    position: relative;
    left: 124px;
    bottom: 35px;
}
.name3{
    position: relative;
    left: 224px;
    bottom: 70px;
}
.all{
    width: 80%;
    max-width: 800px; 
    position: relative;  
    background-color: aqua;
    height: 2000px;
    bottom: 4px;
    top: 0 auto;
}