body{
    height: 45vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: darkslategrey;
}

.login-form{
    height: 30vw;
    width: 30vw;
    position: relative;
    bottom:20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    border: 0.5rem solid seagreen;
    margin: auto;
    margin-top: 15%;
    border-radius: 5%;
    background-color: rgb(189, 215, 215);
    padding: 0.5rem;
    h1{
        text-transform: capitalize;
        margin: auto;
        font-weight: 900;
        color: rgb(2, 58, 39);
    }
    input{
        margin: 1rem;
        width: 50%;
        height: 10%;
        margin: auto;
        font-size: 1rem;

    }
    button{
        margin: 1rem;
        width: 50%;
        height: 10%;
        margin: auto;
        border: 0.2rem solid seagreen;
        background-color: rgb(141, 183, 169);
        font-weight: 700;
    }

}