* {
  margin: auto;
  padding: 0;
  text-align: center;
}

body {
  background-color: pink;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 40px;
  justify-content: center;
  align-items: center;
}
.form__input {
  justify-content: center;
  padding: 9px;
  font-size: xx-large;
  margin-bottom: 10px;
  background-color: whitesmoke;
}
.form__select {
  margin-bottom: 10px;
  background-color: whitesmoke;
  width: 410px;
  font-size: xx-large;
  margin-bottom: 10px;
}
.form__submit {
  width: 60px;
  background-color: lemonchiffon;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
  margin-left: -10px;
  padding: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}

#itemsRoot {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  margin: 50px;
}
#itemsRoot .recipe-item {
  background-color: aliceblue;
  border-radius: 10px;
}
#itemsRoot .recipe-item .recipe-img {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-left: auto;
}
#itemsRoot .recipe-item .recipe-link {
  text-decoration: underline;
}
#itemsRoot h1 {
  font-size: 30px;
  color: black;
}
#itemsRoot p {
  color: rgb(240, 88, 88);
  text-align: center;
}

.form__submit {
  background-color: blueviolet;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 70px;
}
.form__submit:hover {
  background-color: darkgreen;
}

button a {
  text-decoration: none;
  color: black;
  padding: 15px 50px;
  background-color: palevioletred;
  border-radius: 3px;
  border: 2px solid black;
  display: inline-block;
}
button a:hover {
  background-color: violet;
}