body {
  margin: 0;
}

.box {
  background-color: red;
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes example {
  from {
    top: 0;
    background-color: yellow;
  }
  to {
    top: 200px;
    background-color: blue;
  }
}

@keyframes example {
  from {
    top: 0;
    background-color: yellow;
  }
  to {
    top: 200px;
    background-color: blue;
  }
}