.availableTasks {
    height: 60px;
    width: 200px;
    background-color: aqua;
}
.userItem {
    height:250px;
    width: 200px;
    background-color: aqua;
    border: 2px black solid;
}
.taskItem {
    height: 400px;
    width: 200px;
    background-color: aqua;
    border: 2px black solid; 
}
.users {
    height: 60px;
    width: 200px;
    background-color: aqua;    
}
#list {
    height: 60px;
    width: 200px;
    background-color: aqua; 
    display: flex;   
}
.exsistingUsers{
    height: 60px;
    width: 200px;
    background-color: aqua;   
    display: flex; 
}

#newUsers{
    display: flex;
}