* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 250px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}