body{
    text-align: center;
    color: white;
    background-color: darkgray;
}

div img{
    text-align: center;
    width: 150px;
    height: 100px;
}
div img:hover{
    width: 180px;
    height: 120px;

}
.first{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-left: 500px; 
    padding: 5px;
}
.first h3{ 
    margin: 0%;
}
.second{
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin-left: 500px; 
    padding: 5px;
}
.second h3{ 
    margin: 0%;
}
.third{
    background-color: black;
    width: 200px;
    height: 200px;
    margin-left: 500px; 
    padding: 5px;
}
.third h3{ 
    margin: 0%;
}
 

