.wrapper {
  // margin-left: 8rem;
    position: relative;
    // max-width: 150ch;
    // margin-top: auto;
    border: 2px solid black;
    height: 80vh;
    // overflow-x: auto;
    overflow-y:hidden;
    background-image: url(https://img.freepik.com/free-vector/forest-scene-with-various-forest-trees_1308-57640.jpg?w=1380&t=st=1675029517~exp=1675030117~hmac=7165743ac1d980f5a58e2a9aaf6c32392fbb1652fb69d231bb2a175a4fff7ba1);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
  h1{
    color: blue;
    text-align: center;
  }
  h3{
    color: red;
    text-align: center;
  }
  span{
    color: green;
  }
  h4{
    text-align: center;
  }
  
  @keyframes floatUp {
    0% {
      top: 1000px;
    }
    100% {
      top: -1000px;
    }
  }
  