* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.scoreBoardDiv{
    margin: auto;
    background-color: aquamarine;
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    &__listTitle{
        font-weight: bold;
    }
    li{
        display: block;
        font-weight: 400;
        margin-top: 1em;
    }
}