*,
::before,
::after {
  padding: 0;
  margin: 0;
  font-family: Verdana, "Segoe UI", Tahoma, Geneva, sans-serif;
}

:root {
  --boardSize: 80vh;
  --div-size: calc(var(--boardSize) / 21);
}

body{
  overflow: hidden;
}

.welcomePageWrapper {
  background-color: darkblue;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loginPage {
  position: absolute;
  aspect-ratio: 2/3;
  height: 80vh;
  background-color: darkseagreen;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  transform: translateX(-100vw);
  transition: transform .7s linear;
  .inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      font-size: 1.5rem;
      margin-bottom: 2em;
      margin-top: 1em;
      border: 1px solid rgba(0, 0, 0, 0.092);
      outline: none;
      padding: 0.2em;
    }
  }
  .buttonDiv {
    margin-top: 2em;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    button {
      font-size: 1.5rem;
      padding: 0.5em;
      width: 40%;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      z-index: 1;
    }

    button:before {
      content: "";
      position: absolute;
      border-radius: 10px;
      background: goldenrod;
      bottom: 0;
      left: 0;
      top: 0;
      right: 100%;
      z-index: -1;
      transition: right 0.2s linear;
    }

    button:hover:before {
      right: 0;
    }
  }
}

.welcomePage {
  position: absolute;
  aspect-ratio: 3/2;
  max-height: 80vh;
  max-width: 80vw;
  background-color: darkgoldenrod;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  // transform: translateX(100vw);
  transition: transform .7s linear;
  &__choices {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    gap: 1vw;
    &__choice {
      display: flex;
      justify-content: center;
      width: 45%;
      cursor: pointer;
      img {
        width: 100%;
      }
    }
  }
  &__startGameBtn {
    position: relative;
    padding: .5em 1em;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    letter-spacing: 2px;
    outline: 0;
    z-index: 1;
    cursor: pointer;
  }

  &__startGameBtn:hover {
    color: whitesmoke;
  }

  &__startGameBtn:before {
    content: "";
    position: absolute;
    border-radius: 10px;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.09s ease-in;
  }

  &__startGameBtn:hover:before {
    top: 0;
  }
}

.gameWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: darkblue;
}

.maze {
  box-shadow: 0 0 50px black;
  width: var(--boardSize);
  height: var(--boardSize);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: white;
  .endGameWindow {
    position: absolute;
    font-size: 5vh;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all .5s;
    font-family: Georgia, "Times New Roman", Times, serif;
    button {
      width: 30%;
      padding: 0.5em;
      font-size: 1.5rem;
      border: none;
      border-radius: 10px;
      background-color: #333333;
      color: whitesmoke;
    }
    button:hover {
      cursor: pointer;
      transform: translate(5px, 5px);
      transition: transform 0.5s;
    }
  }
  .winMessage {
    color: lightcoral;
    background-color: rgb(35, 106, 70);
    transform: translateY(-100vh);
  }
  .loseMessage {
    color: orange;
    background-color: rgb(141, 24, 24);
    transform: translateY(100vh);
  }
  .square {
    width: var(--div-size);
    height: var(--div-size);
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: calc(var(--div-size) - 1.5vh);
    }
  }
  .pacman {
    border-radius: 50%;
    background-color: darkorange;
    position: relative;
    transform: scaleY(1);
    .eye {
      position: absolute;
      width: 0.3vw;
      height: 0.3vw;
      border-radius: 50%;
      top: 20%;
      right: 50%;
      background: #333333;
    }
    .mouth {
      background: #fff;
      position: absolute;
      width: 100%;
      height: 100%;
      clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
      animation-name: eat;
      animation-duration: 0.2s;
      animation-iteration-count: infinite;
    }
    @keyframes eat {
      0% {
        clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
      }
      25% {
        clip-path: polygon(100% 60%, 44% 48%, 100% 40%);
      }

      50% {
        clip-path: polygon(100% 50%, 44% 48%, 100% 50%);
      }

      75% {
        clip-path: polygon(100% 59%, 44% 48%, 100% 35%);
      }

      100% {
        clip-path: polygon(100% 74%, 44% 48%, 100% 21%);
      }
    }
  }

  .wall {
    background-color: black;
  }
  .point {
    border-radius: 50%;
    background-color: green;
    border: calc(var(--div-size) / 3) solid white;
    box-sizing: border-box;
  }
  .cherry {
    // box-sizing: border-box;
    svg {
      fill: red;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 1));
    }
  }
  .ghost {
    border: 0px;
  }
  .purple {
    border-radius: 0;
    background-color: white;
    svg {
      fill: purple;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 1));
    }
  }
  .pink {
    border-radius: 0;
    background-color: white;
    svg {
      fill: palevioletred;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 1));
    }
  }
  .blue {
    border-radius: 0;
    background-color: white;
    svg {
      fill: blue;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 1));
    }
  }
  .green {
    border-radius: 0;
    background-color: white;
    svg {
      fill: darkgreen;
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 1));
    }
  }
  .scaredGhost {
    svg {
      animation-name: scared;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }
  }
  @keyframes scared {
    0% {
      fill: #333333;
    }
    50% {
      fill: aquamarine;
    }
    100% {
      fill: #333333;
    }
  }
}

.liveScore {
  position: absolute;
  color: darkblue;
  font-size: 1.5rem;
}
