
body {
    background-color: rgb(214, 212, 212);
    overflow-x: hidden;
    margin: 0%;
    height: 100%;
} 

.wrapper {
    overflow: auto;
    margin: 0px auto;
    height: 100%;
    width: 100%;
    background-color: rgb(246, 242, 242);
    border: 1px solid rgb(106, 106, 106);
}

.wrapper .header {
    width: 100%;
    height: 50px;
    border: 2px solid rgb(178, 174, 174);
    position: fixed;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: space-between ;
}

.header .search-div{
    display: flex;
    align-content: center;
    justify-content: space-between ;
}

.header-img-div img {
    height: 80%;
    width: 120px;
    padding-top: 7px;
    padding-left: 10px;
}


.search-div img {
    height: 25px;
    width: 40px;
    margin-top: 10px;
}

.search-div input{
    height: 25px;
    width: 200px;
    margin-top: 10px;
    margin-right: 10px;
}

.wrapper .stories {
    margin: auto;
    width: 470px;
    height: 100px;
    border: 1px solid rgb(198, 193, 193);
    background-color: white;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-content: space-between
}

.stories img{
    height: 70px;
    width: 80px;
    border-radius: 50%;
    padding-top: 10px;
    
}

.feedbox1 {
    margin: auto;
    width: 469px;
    height: 500px;
    /* border: 1px solid rgb(198, 193, 193); */
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
}

.feedbox1 .name-div {
    margin: auto;
    width: 100%;
    height: 57px;
    border: 0.5px solid rgb(217, 216, 216);
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    display: flex;
   
}

.name-div .picture{
    border-radius: 50%;
    width: 42px;
    height: 42px;
    order: -1;
    margin-left: 10px;
    margin-top: 7px;
}

.name-div .dots{
  margin-left: 250px;
    
}

.name-div h3{
    margin-left: 10px;
}

.feedbox1 .img-div {
    margin: auto;
    width: 100%;
    height: 300px;
    border: 1px solid rgb(198, 193, 193);
    background-color: white;
}

.img-div img{
    width: 100%;
    height: 100%;
}

.feedbox1 .paragraph{
    width: 100%;
    height: 70px;
    border: 1px solid rgb(198, 193, 193);
}

.paragraph p{
    padding-left: 10px;
}

.feedbox1 .icons-div{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(198, 193, 193);
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.icons-div .heart-img{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.icons-div .comment-img{
    width: 30px;
    height: 30px;
}

.icons-div .share-img{
    width: 30px;
    height: 30px;
}

.icons-div .save-img{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.feedbox1 .paragraph2{
    width: 100%;
    height: 90px;
    border: 1px solid rgb(198, 193, 193);
    background-color: white;
}

.paragraph2 p{
   font-size: 15px;
   padding-left: 30px;
   background-color: white;

}

.paragraph2 .date{
    font-size: small;

}

.feedbox1 .comment-div{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(198, 193, 193);
    display: flex;
    align-items: center;
    /* justify-content: space-between ; */
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.comment-div .imoji-div img{
    width: 35px;
    height: 30px;
}

.comment-div input{
    height: 25px;
    width: 370px;
    border:0;
}

.comment-div strong{
    color: blue;
}



.feedbox2 {
    margin: auto;
    width: 469px;
    height: 500px;
    border: 1px solid rgb(198, 193, 193);
    background-color: white;
    border-radius: 10px;
    margin-top: 200px;
}

.feedbox2 .name-div2 {
    margin: auto;
    width: 100%;
    height: 57px;
    border: 0.5px solid rgb(217, 216, 216);
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    display: flex;
   
}

.name-div2 .picture2{
    border-radius: 50%;
    width: 42px;
    height: 42px;
    order: -1;
    margin-left: 10px;
    margin-top: 7px;
}

.name-div2 .dots2{
    margin-left: 250px;  
}

.name-div2 h3{
    margin-left: 10px;
}

.feedbox2 .img-div2 {
    margin: auto;
    width: 100%;
    height: 300px;
    border: 1px solid rgb(198, 193, 193);
    background-color: white;
}


.img-div2 video{
    width: 100%;
    height: 100%;
}

.feedbox2 .paragraph-two{
    width: 100%;
    height: 70px;
}

.paragraph-two p{
    padding-left: 10px;
}

.feedbox2 .icons-div2{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(198, 193, 193);
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.icons-div2 .heart-img2{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.icons-div2 .heart-img2{
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

.icons-div2 .comment-img2{
    width: 30px;
    height: 30px;
}

.icons-div2 .share-img2{
    width: 30px;
    height: 30px;
}

.icons-div2 .save-img2{
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.feedbox2 .paragraph3{
    width: 100%;
    height: 90px;
    border: 1px solid rgb(198, 193, 193);
    background-color: white;
}

.paragraph3 .date{
    font-size: small;
    background-color: white;
}

.paragraph3 .date2{
    font-size: small;
    background-color: white;
}

.feedbox2 .comment-div2{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(198, 193, 193);
    display: flex;
    align-items: center;
    /* justify-content: space-between ; */
    background-color: white;
    border-radius: 0px 0px 10px 10px;
}

.comment-div2 .imoji-div2 img{
    width: 35px;
    height: 30px;
}

.comment-div2 input{
    height: 25px;
    width: 370px;
    border:0;
}

.comment-div2 strong{
    color: blue;
}
