#box1 {
    margin-left: 300px;
    background-color: rgb(255, 191, 202);
}
#box2 {
    margin-left: 200px;
    background-color: rgb(255, 152, 169);
}
#box3 {
    margin-left: 100px;
    background-color: rgb(255, 125, 147);
}
#box4 {
    margin-left: 200px;
    background-color: rgb(255, 88, 116);
}
#box5 {
    margin-left: 300px;
    background-color: rgb(255, 50, 84);
}


.box {
  width: 100px;
  height: 100px;
  
  margin: 30px;
}
