* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#allProducts, #wishMain {
    .card {
        img {
            aspect-ratio: 9/16;
            width: 200px;
            object-fit: cover;
            object-position: center;
        }
    }
}