.body {
    margin: 0%;
}

.black_headline {
background-color: black;
width: 100%;
height: 100px;
display: flex;
flex-direction: row;


    &__bbc_logo {
    color: black;
    background-color: white;
    border: 1px solid black;
    font-size: 30px;
    }    
}