.ball{
    border-radius: 300px;
    width: 300px;
    height: 300px;
    position: relative;
    border: 10px solid black;
    animation-name: bounce;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;


}

    @keyframes bounce{
      from{background-color: rgb(255, 255, 255);
            top: 0px;
            left:0px;}
            
      to{background-color: rgb(238, 114, 12);
            top: 300px;
            left:300px;}

    }