body{
  background-color: black;
  margin: 0;
  position: relative;
}


input{
  width: 15rem;
  height: 1.5rem;
}

h3{
  text-decoration: underline;
  text-align: center;
  margin: 0.5rem;
}

ul{
  padding-bottom: 0;
  margin: 0;
}

ol{
  list-style-type: none;
  margin: 0;
  padding-top: 0;
}

.container{
  width:90rem;
  height: 60rem;
  position: relative;
  top: 0rem;
  right: 0rem;
  border: 0.1rem solid black;
}

.green{
  color: seagreen;
}

.yellow{
  color: gold;
}

.gray{
  color: gray;
}


.header{
  color: white;
  font-size: 2rem;
  color: seagreen;
  margin: auto;
  height: 8rem;
  width: 21rem;
  font-size: 4rem;
  position: relative;
  top: 0rem;
  right: -0.5rem;
}

.iconsWrapper{
  width: 10rem;
  height: 5rem;
  position: relative;
  top: -5rem;
  left: 80rem;
  display: flex;
  flex-direction: row;
  &__displayedIcon{
    width: 3rem;
    height: 3rem;
    display: block;
    position: relative;
    top: 0rem;
    left: 0rem;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    &:hover{
      color: gold;
    }
    &__displayedData{
    width: 28rem;
    height: 29rem;
    border: 0.2rem solid white;
    background-color: rgb(22, 19, 19);
    position: relative;
    top: 1rem;
    right: 16rem;
    display: none;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 0.5rem;
    color: white;
    line-height: 2rem;
    &--userData{
      height: auto;
      width: 18rem;
      text-align: center;
      font-size: 2rem;
    }
    }
    &:hover .iconsWrapper__displayedIcon__displayedData {
    display: flex;
    }
  }
}


.board{
    height: 30rem;
    width: 30rem;
    position: relative;
    bottom: 9rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
  &__line{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    &__cell{
      border: 0.1rem solid yellow;
      font-size: 3.5rem;
      text-align: center;
      vertical-align: middle;
      color: white;

    }
  } 
}


.keyboard{
  height: 30rem;
  width: 40rem;
  display: flex;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  top: -9rem;
  display: flex;
  flex-direction: column;
  &__line{
    height: 5rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    grid-gap: 5px;
    &__key{
      height: 4.5rem;
      width: 4.5rem;
      font-size: 1rem;
      text-align: center;
      vertical-align: middle;
      color: white;
      background-color: gray;
      border-radius: 0.8rem;
      border: 0.2rem solid gray;
    }
  } 
}

.logInWrapper{
  border: .2rem solid seagreen;
  width: 30rem;
  height: 20rem;
  margin: auto;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  &__header{
    text-align: center;
    font-size: 3rem;
  }
  &__logInButton{
    width: 10rem;
    height: 3rem;
    background-color: seagreen;
    font-weight: 900;
    font-size: 1.5rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    box-shadow: 0rem 0rem 0.2rem 0.2rem rgb(115, 113, 113);
    &:hover{
        background-color: white;
        box-shadow: none;
        transition: 0.5s;
    }
    &:active{background-color: rgb(74, 10, 251);}
  }
}

.newGameButton{
  width: 10rem;
  height: 6rem;
  background-color: seagreen;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 0.5rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  box-shadow: 0rem 0rem 0.2rem 0.2rem rgb(115, 113, 113);
  position: relative;
  left: 15rem;
  top: -47rem;
  &:hover{
      background-color: white;
      box-shadow: none;
      transition: 0.5s;
  }
  &:active{background-color: rgb(74, 10, 251);}
}



