
body{
    background-color:rgb(61, 64, 62)
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
    
}
h5{
    color: aliceblue;
}

.center{
    text-align: center;
}

.view {
    width: 400px;
    height: 300px;
  background-color: white;
  border: 1px solid white
  

}

.view img {
    
    width: 198px;
    height: 300px;
    
}
.openview{
    width:100px ;
    height: 25px;
    background-color: red;
}
    
.aviva {
    width: 400px;
    height: 250px;
background-color: black;
border: 1px solid white


}
