.body {
    margin: 0;
}

.header {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;



}

.bbc {
    height: 5px;
    width: 5px;
    background-color: white;


}



