
body {
  background: #333;
  height: 100vh;
}
.balloon {
  display:inline-block;
  width:120px;
  height:145px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  animation: animate 5s forwards 1s ease-in-out infinite;
  position: relative;

}

@keyframes animate {

from {
  top: 100vh;
}
to {
  top: -30vh;
}
}

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }

.balloon:nth-child(6){ background:rgb(201, 197, 130); animation-duration:3.5s; }
.balloon:nth-child(6):before { color:rgb(191, 201, 130);  }

.balloon:nth-child(7){ background:rgb(18, 57, 30); animation-duration:3s; }
.balloon:nth-child(7):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(8){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(8):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(9){ background:rgb(58, 27, 193); animation-duration:5s; }
.balloon:nth-child(9):before { color:hsl(23,44%,46%);  }

.balloon:nth-child(10){ background:rgb(130, 201, 184); animation-duration:3.5s; }
.balloon:nth-child(10):before { color:rgb(130, 201, 176);  }

.balloon:nth-child(11){ background:rgb(204, 102, 143); animation-duration:3s; }
.balloon:nth-child(11):before { color:rgb(166, 89, 99);  }

.balloon:nth-child(12){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(12):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(13){ background:rgb(85, 206, 101); animation-duration:5s; }
.balloon:nth-child(13):before { color:rgb(85, 169, 66);  }