* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.playground {
  width: 100vw;
  height: 100vh;
  background-color: darkcyan;
  .ball {
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    // top: 100px;
    // left: 400px;
    // width: 100px;
    // background: radial-gradient(
    //   circle,
    //   rgba(0, 0, 0, 1) 0%,
    //   rgba(255, 0, 0, 1) 52%
    // );
  }
}
