.grid-conteiner {
height: 200px;
width: 200px;
background-color: blue;
display: grid;
grid-template-columns:1fr 1fr 1fr;
grid-template-rows:1fr 1fr 1fr;
}



.grid_item   {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid black
}