.banner{
    color: white;
    background-image: linear-gradient(to right, #33CEFF, #0F83FF);
    width: 500px;
    margin-left: 370px;
    position: relative;
}

.banner img{
width: 100%;
text-align: center;
}

h1{
    text-align: right;
    margin-top: 0%;
    color: white;
    text-decoration: underline;
}
.p1{
    text-align: right;
}
.p2{
    text-align: right;
    font-size: 10px;
    height: 15px;
    
}
.bottomright{
    background: red;
    width: 80px;
    text-align: right;
    right: 0px;
    position: absolute;
    padding-left: 0px;
    top: 269px;
}