
.border{
    border: 20px solid blue;
    height: 27.7rem;

}
.pictxt{
    display: inline;
    background-color: red;
    margin-left: 220px;
}
div{
    width: 250px;
    height: 450px;
}
#text{
   background-image: url("/01-HTML-CSS/Tomer-C/hard1/photo-1588421357574-87938a86fa28.jpg");
   width: 554px;
   height: 200px;
   position: absolute;
   top: 491px;
}
#balls{
    position: absolute;
    left: 270px;
    bottom: 448px;
}