* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    overflow-y: scroll;
    position: relative;
    width: 400px;
    height: 100vh;
    border: 1px black solid;
    margin: 0 auto;

    &__top {
        background-color: rgb(42, 126, 50);
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2px;

            &__icons {
                display: flex;
                align-items: center;
                p {
                    margin-right: 3px;
                    margin-left: 5px;
                }
            }

            &__hour {}
        }

        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2px;

            &__icons {
                i {
                    margin-left: 3px;
                }
            }

            &__name {
                display: flex;
                align-items: center;
                &__name {
                    margin-right: 3px;
                }

                &__photo {
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    position: relative;
                    background-color: red;
                    background-image: url(./pexels-pixabay-60597.jpg);
                }
            }
        }
    }

    img {
        position: fixed;
        margin: 0 auto;
        top: 0;
        width: 400px;
        height: 100%;
        z-index: -1;
    }

    &__text {
        p {
            background-color: white;
            padding: 3px 5px;
            border-radius: 5px;
            border: none;
            border-top-left-radius: 0px;
            display: inline-block;
            margin: 2px 10px;
        }
    }

    &__send {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 400px;

        &__icon {
            border-radius: 50%;
            background-color: rgb(42, 126, 50);
            width: 25px;
            height: 25px;
            display: grid;
            place-items: center;
        }

        input {
            width: 333px;
            border-radius: 10px;
            padding: 3px 2px;
            border: none;
        }
    }
}