*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;  
}


.container{

}

.nav{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
    
    &__spanlogo{
       width: 140px;
       height: 140px; 
       margin: 0 0;
       padding: 0 0 ;
    } 


    &__ulNav{
       display: flex;
       justify-content: space-between;
       background-color: rgb(50, 50, 50);
       height: 35px;
       
        &__liNav{
          list-style: none;
          font-size: 24px;
          padding: 0 20px;
          color: white;
        }
        
        &__btnad{
          color: black;
          background-color: orange;
           margin-left: 26px;
           border-radius: 25%;
           font-size: 20px;
        }


}
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px;


  .same{
    border: 2px solid rgb(251, 197, 237);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width: 400px;
    height: 550px;
  }

  &__container{

  &__contimg1{
    width: 400px;
    height: 300px;
    border-radius: 25px;
    
  }

   &__down{
    background-color: pink;
   }


  }
    

}





