h1, h2 {

display: grid;
justify-content: center;
text-align: center;
}
h3{
    margin-top: 50px;

}
#form{
    // margin-top: 50px;
    display: flex;
    width: 300px;
    height: 650px;
    gap: 15px;
    // display: inline-block;
    flex-direction: column;;
}

.wrapper{
    border: 1px solid black;
    height: 1000px;
    width: 3500px;

    
    
}


.formDiv{
    border: 2px solid black;
    width: 300px;
    height: 550px;
    margin-top: 80px;
}
// .card{
//     border: 2px solid rgb(218, 18, 18);
//     width: 30px;
//     height: 50px;
//     margin-top: 80px;
// }