h1{
color: rgb(255, 0, 0);
display: grid;
justify-content: center;
text-align: center;
}
h2 {

display: grid;
justify-content: center;
text-align: center;
}
h3{
    margin-top: 50px;

}
#form{
    // margin-top: 50px;
    display: flex;
    width: 300px;
    height: 650px;
    gap: 15px;
    // display: inline-block;
    flex-direction: column;;
}

.wrapper{

    height: 80vh;
    width: 100vw;
    display: flex;
gap: 15rem;
align-items: center;
background-color:dodgerblue;

    
    
}


.formDiv{
    padding : 5rem;

    width: 300px;
    height: 500px;
    margin-top: 80px;
}

.newCard{
    
        padding: 20px;
        border-radius: 50px;
        box-shadow: 2px 2px 6px red;
        .userImg{
            width: 100%;
        }
    
}