.alert {
    width: 500px;
    height: auto;
  background-color: rgb(20, 58, 136);
  margin-top: 3%;
  margin-left: 50%;
  position: fixed;
  align-items: center;
  
  


&__btn-close{
    align-items: center;
    background-color: #c2fbd7;
    border-radius: 50px;
    border-width: 0;
    box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
    color: #008000;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 25px;
    transition: all 200ms;
}
}
.btn-close:hover {
    background-color: #f46942;
    transform: scale(1.05);
  }