.post {
  max-width: 500px;
  border: 1px solid black;
  margin-bottom: 45px;
  margin: 5%;
  background-color: aliceblue;
}
.post__image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
}
.post__text {
  font-weight: normal;
  color: gray;
  padding: 10px;
}
.post__text__strong {
  color: black;
  font: bold 11px arial;
  font-size: 1rem;
}
.post__header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.post__header__avatar {
  margin-right: 10px;
}