.topNav {
  display: flex;
  float: right;
  margin-right: 5%;
  align-items: center;
}
.topNav__btn {
  background-color: #c2fbd7;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: #008000;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 1em;
  height: 50px;
  padding: 0 25px;
  transition: all 200ms;
}
.topNav__btn:hover {
  background-color: #e6c7af;
  transform: scale(1.05);
}