



:root{
    --colorText:#ffffff;
    --green:#80c977;
    --blue-dark:#01276e;
    --blue-light:#42cbff;
    --background-color:rgb(74, 77, 77);
}

.container{
    width: inherit;
    position: absolute;
    left: 0;
    padding:20px 10px;

    top: 0;
    .navbar {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap: 25px;
    
        &__list {
            list-style: none;
        }
    
        &__btn {
            cursor: pointer;
            background-color: var(--green);
            border: none;
            color: var(--colorText);
            font-size: 1.2rem;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 0 0 15px,
                0 0 15px inset;
    
            &:hover {
                scale: 1.1;
            }
    
        }
    }
}
