#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  width:100%;
  height: 100%;
}


.usersWrapper{
  width:70vh;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
}






@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}