.feedScreen {
  height: 700px;
  width: 500px;
  background-color: rgb(250, 247, 247);
  border: solid 1px rgb(183, 182, 182);
  margin: auto;
}
.feedScreen__phoneStatus {
  height: 20px;
  width: 100%;
  display: flex;
  background-color: rgb(250, 247, 247);
}
.feedScreen__phoneStatus__connection {
  height: 100%;
  width: 30px;
  font-size: x-large;
  padding-left: 10px;
}
.feedScreen__phoneStatus__company {
  height: 100%;
  width: 70px;
  padding-right: 25px;
  font-weight: bold;
}
.feedScreen__phoneStatus__wifi {
  height: 100%;
  width: 60px;
  padding-right: 50px;
}
.feedScreen__phoneStatus__clock {
  height: 100%;
  width: 70px;
}
.feedScreen__phoneStatus__battery {
  height: 100%;
  width: 30px;
  padding-left: 150px;
}
.feedScreen__title {
  height: 60px;
  width: 100%;
  background-color: rgb(250, 247, 247);
  display: flex;
}
.feedScreen__title__instagram {
  height: 60px;
  width: 130px;
  padding-left: 200px;
}
.feedScreen__title__instagram img {
  height: 100%;
  width: 100%;
}
.feedScreen__title__store {
  height: 100%;
  width: 40px;
  padding-left: 130px;
  padding-top: 10px;
}
.feedScreen__title__store i {
  font-size: x-large;
  padding-top: 10px;
}
.feedScreen__feedPost {
  height: 600px;
  width: 100%;
  background-color: rgb(255, 254, 254);
  border: solid 1px rgba(211, 208, 208, 0.89);
  box-sizing: border-box;
}
.feedScreen__feedPost__profile {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 254, 254);
  display: flex;
}
.feedScreen__feedPost__profile__identifire {
  height: 60px;
  width: 500px;
  background-color: rgb(255, 253, 253);
  display: flex;
}
.feedScreen__feedPost__profile__identifire__picture {
  height: 60px;
  width: 60px;
  padding-left: 10px;
  padding-top: 5px;
}
.feedScreen__feedPost__profile__identifire__picture img {
  border-radius: 30px;
  height: 50px;
  width: 50px;
}
.feedScreen__feedPost__profile__identifire__username {
  height: 40px;
  width: 80px;
  padding-top: 20px;
  font-weight: bold;
}
.feedScreen__feedPost__profile__menu {
  height: 40px;
  width: 50px;
  font-size: x-large;
  padding-top: 20px;
}
.feedScreen__feedPost__mainPicture {
  height: 400px;
  width: 100%;
  position: relative;
  text-align: center;
}
.feedScreen__feedPost__mainPicture img {
  height: 100%;
  width: 100%;
}
.feedScreen__feedPost__mainPicture__like {
  position: absolute;
  font-size: 100px;
  color: rgba(255, 254, 254, 0.663);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.feedScreen__feedPost__buttons {
  height: 60px;
  width: 100%;
  background-color: rgb(255, 254, 254);
  border: solid 1px rgb(183, 182, 182);
  display: flex;
}
.feedScreen__feedPost__buttons__likeButton {
  height: 40px;
  width: 35px;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.67);
  padding-top: 15px;
  padding-left: 20px;
}
.feedScreen__feedPost__buttons__commentButton {
  height: 40px;
  width: 35px;
  background-color: rgb(255, 254, 254);
  font-size: 30px;
  color: rgba(0, 0, 0, 0.67);
  padding-top: 15px;
  padding-left: 20px;
}
.feedScreen__feedPost__buttons__shareButton {
  height: 40px;
  width: 35px;
  background-color: rgb(255, 254, 254);
  font-size: 30px;
  color: rgba(0, 0, 0, 0.67);
  padding-top: 15px;
  padding-left: 20px;
}
.feedScreen__feedPost__postInfo {
  height: 55px;
  width: 100%;
  background-color: rgb(255, 254, 254);
}
.feedScreen__feedPost__postInfo__Likes {
  height: 20px;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
}
.feedScreen__feedPost__postInfo__Likes__iconLikes {
  height: 100%;
  width: 20px;
}
.feedScreen__feedPost__postInfo__Likes__amountLikes {
  width: 100px;
  height: 100%;
}
.feedScreen__feedPost__postInfo__comment {
  height: 15px;
  width: 100%;
  padding-left: 15px;
}
.feedScreen__feedPost__postInfo__comment span {
  color: blue;
}
.feedScreen__feedPost__postInfo__bubble {
  height: 30px;
  width: 150px;
  border: 2px solid rgb(226, 54, 54);
  border-radius: 10px;
  color: rgb(226, 54, 54);
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  background-color: rgb(226, 54, 54);
  animation-name: bubble;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  position: absolute;
  font-size: 10px;
  top: 66%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.feedScreen__feedPost__postInfo__bubble__comment {
  height: 15px;
  width: 30px;
}
.feedScreen__feedPost__postInfo__bubble__comment i {
  color: white;
  font-size: large;
}
.feedScreen__feedPost__postInfo__bubble__love {
  height: 15px;
  width: 30px;
}
.feedScreen__feedPost__postInfo__bubble__love i {
  color: white;
  font-size: large;
}
.feedScreen__feedPost__postInfo__bubble__user {
  height: 15px;
  width: 30px;
}
.feedScreen__feedPost__postInfo__bubble__user i {
  color: white;
  font-size: large;
}
.feedScreen__feedPost__postInfo__bubble::before {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid rgb(205, 42, 42);
  bottom: -20px;
  content: "";
  left: 50%;
  margin-left: -20px;
  position: absolute;
}
.feedScreen__feedPost__postInfo__bubble::before {
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  border-top: 23px solid;
  border-top-color: inherit;
  bottom: -23px;
  margin-left: -23px;
}
.feedScreen__feedPost__menuButtons {
  height: 40px;
  width: 100%;
  background-color: rgb(250, 247, 247);
  border: solid 1px rgb(183, 182, 182);
  display: flex;
  justify-content: space-around;
}
.feedScreen__feedPost__menuButtons__homeButton {
  height: 40px;
  width: 35px;
  font-size: 30px;
  color: rgba(141, 138, 138, 0.854);
}
.feedScreen__feedPost__menuButtons__searchButton {
  height: 40px;
  width: 35px;
  font-size: 30px;
  color: rgba(141, 138, 138, 0.854);
}
.feedScreen__feedPost__menuButtons__cameraButton {
  height: 40px;
  width: 35px;
  font-size: 30px;
  color: rgba(141, 138, 138, 0.854);
}
.feedScreen__feedPost__menuButtons__loveButton {
  height: 40px;
  width: 35px;
  font-size: 30px;
  color: rgba(141, 138, 138, 0.854);
}
.feedScreen__feedPost__menuButtons__profileButton {
  height: 40px;
  width: 35px;
  font-size: 30px;
  color: rgba(141, 138, 138, 0.854);
}

@keyframes bubble {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=feedScreenStyle.css.map */