body {
  border: 1px solid;
  width: 100vw;
  height: 100vh;
}
body nav {
  display: flex;
}
body .mynav, body ul, body li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  background-color: cadetblue;
}
body ul, body li, body a {
  color: rgb(182, 224, 14);
  text-decoration: none;
  font-weight: bold;
} sans-serif;
};
  background-color: rgb(213, 241, 5);
  border: px1;
  -webkit-animation-name: pop-outin;
          animation-name: pop-outin;
  -webkit-animation: 2s anim-popoutin ease infinite;
          animation: 2s anim-popoutin ease infinite;
}
@-webkit-keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: red;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}
@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  25% {
    color: red;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }
  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}
.wrapper__container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  padding-top: 150px;
  gap: 5px;
}
.wrapper__container .Black_Adam-img {
  background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTNSOjcSmrXYIZ517jTKmCDxBwIJU4_ojFweUDLI1Dssn2UfTsx);
  width: 200px;
  height: 190px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper__container .Spirited-img {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTgMuW92w5HXqnmWuO4eGS6CpTKunPfQKSkoeojR-Ot2HSxY0yh);
  width: 200px;
  height: 190px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper__container .Emancipation-img {
  background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0oAkT3etqKxnnFmVkOdyg1KqhFovsdO7BZ7DkoV2SnAmvN8J9);
  width: 200px;
  height: 190px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper__container .Nope-img {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIgJp_ZoMufqDS17oo_fxOplO6W34XXM_LTpjQGyxAXEdxXwpH);
  width: 200px;
  height: 190px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper__container .White_Noise-img {
  background-image: url(https://m.media-amazon.com/images/M/MV5BMDdmYjc3Y2EtM2FjYS00NGI2LTliZjgtYmQxMzJiMmUxNmI4XkEyXkFqcGdeQXVyNjY1MTg4Mzc@._V1_.jpg);
  width: 200px;
  height: 190px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper__container .Strange_World-img {
  background-image: url(https://resizing.flixster.com/2xMkNqbnCcVFU3sEAhAblUFRJa8=/ems.cHJkLWVtcy1hc3NldHMvbW92aWVzLzk5ZjM1MDZlLWU4ZWEtNDRjMi05Y2ViLTk4ZmY1YmQ3NjU2MS5qcGc=);
  width: 200px;
  height: 190px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper__container #Nope {
  color: red;
}
.wrapper__container #White_Noise {
  color: red;
}
.wrapper__container #Strange_World {
  color: red;
}
.wrapper__container .index {
  height: 5px;
  width: 5px;
}