body {
  margin: 0;
  overflow-x: hidden;
}

.pacman-backgroud {
  margin: 2rem auto;
  height: 80vh;
  width: 80vw;
  background-image: url("https://i.pinimg.com/originals/52/a3/3c/52a33c10ae0c117156dd2807a4f324da.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 20%;
}
.pacman-backgroud__pacman {
  height: 2rem;
  width: 2.5rem;
  position: relative;
  top: 54%;
  left: 35%;
  -webkit-animation-name: pacman;
          animation-name: pacman;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes pacman {
  0% {
    top: 54%;
    left: 35%;
  }
  5% {
    top: 54%;
    left: 46%;
  }
  10% {
    top: 62%;
    left: 46%;
    transform: rotate(180deg);
  }
  15% {
    top: 62%;
    left: 38%;
  }
  25% {
    top: 72%;
    left: 38%;
    transform: rotate(90deg);
  }
  30% {
    top: 72%;
    left: 16%;
    transform: rotate(-90deg);
  }
  35% {
    top: 44%;
    left: 16%;
    transform: rotate(180deg);
    opacity: 1;
  }
  40% {
    top: 44%;
    left: 0;
    opacity: 0;
  }
  50% {
    top: 44%;
    left: 70%;
    opacity: 0;
  }
  55% {
    top: 44%;
    left: 65%;
    opacity: 1;
    transform: rotate(180deg);
  }
  60% {
    top: 44%;
    left: 53%;
  }
  70% {
    left: 53%;
    top: 25%;
    transform: rotate(-90deg);
  }
  80% {
    top: 25%;
    left: 66%;
    transform: rotate(0deg);
  }
  85% {
    left: 65%;
    top: 4%;
    transform: rotate(-90deg);
  }
  90% {
    top: 4%;
    left: 38%;
    transform: rotate(180deg);
  }
  95% {
    left: 38%;
    top: 15%;
    transform: rotate(180deg);
    opacity: 1;
  }
  96% {
    left: 38%;
    top: 15%;
    opacity: 0;
  }
  97% {
    left: 38%;
    top: 15%;
    opacity: 1;
  }
  98% {
    left: 38%;
    top: 15%;
    opacity: 0;
  }
  100% {
    left: 38%;
    top: 15%;
    opacity: 1;
  }
}
@keyframes pacman {
  0% {
    top: 54%;
    left: 35%;
  }
  5% {
    top: 54%;
    left: 46%;
  }
  10% {
    top: 62%;
    left: 46%;
    transform: rotate(180deg);
  }
  15% {
    top: 62%;
    left: 38%;
  }
  25% {
    top: 72%;
    left: 38%;
    transform: rotate(90deg);
  }
  30% {
    top: 72%;
    left: 16%;
    transform: rotate(-90deg);
  }
  35% {
    top: 44%;
    left: 16%;
    transform: rotate(180deg);
    opacity: 1;
  }
  40% {
    top: 44%;
    left: 0;
    opacity: 0;
  }
  50% {
    top: 44%;
    left: 70%;
    opacity: 0;
  }
  55% {
    top: 44%;
    left: 65%;
    opacity: 1;
    transform: rotate(180deg);
  }
  60% {
    top: 44%;
    left: 53%;
  }
  70% {
    left: 53%;
    top: 25%;
    transform: rotate(-90deg);
  }
  80% {
    top: 25%;
    left: 66%;
    transform: rotate(0deg);
  }
  85% {
    left: 65%;
    top: 4%;
    transform: rotate(-90deg);
  }
  90% {
    top: 4%;
    left: 38%;
    transform: rotate(180deg);
  }
  95% {
    left: 38%;
    top: 15%;
    transform: rotate(180deg);
    opacity: 1;
  }
  96% {
    left: 38%;
    top: 15%;
    opacity: 0;
  }
  97% {
    left: 38%;
    top: 15%;
    opacity: 1;
  }
  98% {
    left: 38%;
    top: 15%;
    opacity: 0;
  }
  100% {
    left: 38%;
    top: 15%;
    opacity: 1;
  }
}
.pacman-backgroud__pacman img {
  height: 100%;
}
.pacman-backgroud__game-over {
  height: 7rem;
  width: 72.3%;
  position: relative;
  top: 0rem;
  text-align: center;
  -webkit-animation-name: game-over;
          animation-name: game-over;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes game-over {
  0% {
    opacity: 0;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes game-over {
  0% {
    opacity: 0;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pacman-backgroud p {
  font-family: "Audiowide", sans-serif;
  font-size: 7rem;
  color: rgb(130, 20, 185);
  text-shadow: 0.7rem 0.1rem rgb(0, 0, 0);
  margin-bottom: 0;
}
.pacman-backgroud h6 {
  font-family: "Audiowide", sans-serif;
  font-size: 2rem;
  color: rgb(130, 20, 185);
  text-shadow: 0.7rem 0.1rem rgb(0, 0, 0);
  margin-top: 0;
}

.pacman-backgroud__ghosts {
  position: relative;
  top: 37%;
  left: 31%;
  max-width: 10rem;
}
.pacman-backgroud__ghosts__ghost1 {
  color: rgb(222, 78, 247);
  float: left;
  font-size: 2rem;
  margin-right: 1rem;
  position: relative;
  -webkit-animation-name: pink-ghost;
          animation-name: pink-ghost;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes pink-ghost {
  5% {
    top: 0;
    left: 1rem;
  }
  10% {
    top: 0rem;
    left: 3rem;
  }
  15% {
    top: -2rem;
    left: 3rem;
  }
  20% {
    top: -3rem;
    left: 6rem;
  }
  30% {
    top: -3rem;
    left: 12rem;
  }
  40% {
    top: 0;
    left: 12rem;
  }
  50% {
    top: 0;
    left: 18rem;
  }
  60% {
    top: 15rem;
    left: 18rem;
  }
  70% {
    top: 15rem;
    left: 28rem;
  }
  80% {
    top: 18rem;
    left: 28rem;
  }
  90% {
    top: 18rem;
    left: 0;
  }
  100% {
    top: 16rem;
    left: 0;
  }
}
@keyframes pink-ghost {
  5% {
    top: 0;
    left: 1rem;
  }
  10% {
    top: 0rem;
    left: 3rem;
  }
  15% {
    top: -2rem;
    left: 3rem;
  }
  20% {
    top: -3rem;
    left: 6rem;
  }
  30% {
    top: -3rem;
    left: 12rem;
  }
  40% {
    top: 0;
    left: 12rem;
  }
  50% {
    top: 0;
    left: 18rem;
  }
  60% {
    top: 15rem;
    left: 18rem;
  }
  70% {
    top: 15rem;
    left: 28rem;
  }
  80% {
    top: 18rem;
    left: 28rem;
  }
  90% {
    top: 18rem;
    left: 0;
  }
  100% {
    top: 16rem;
    left: 0;
  }
}
.pacman-backgroud__ghosts__ghost2 {
  color: rgb(216, 116, 16);
  float: left;
  font-size: 2rem;
  margin-right: 1rem;
  position: relative;
  -webkit-animation-name: orange-ghost;
          animation-name: orange-ghost;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 25ms;
          animation-delay: 25ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes orange-ghost {
  5% {
    top: -2rem;
    left: 0;
  }
  10% {
    top: -3rem;
    left: -2rem;
  }
  15% {
    top: -6rem;
    left: -2rem;
  }
  20% {
    top: -6rem;
    left: -8rem;
  }
  25% {
    top: -10rem;
    left: -8rem;
  }
  35% {
    top: -10rem;
    left: -13rem;
  }
  45% {
    top: -6rem;
    left: -13rem;
  }
  55% {
    top: -6rem;
    left: -23rem;
  }
  65% {
    left: -23rem;
    top: -14rem;
  }
  75% {
    top: -14rem;
    left: -2rem;
  }
  85% {
    left: -2rem;
    top: -10rem;
  }
  95% {
    left: 0;
    top: -10rem;
    opacity: 1;
  }
  96% {
    top: -10rem;
    left: 0.5rem;
    opacity: 0;
  }
  97% {
    top: -10rem;
    left: 0.5rem;
    opacity: 1;
  }
  98% {
    top: -10rem;
    left: 0.5rem;
    opacity: 0;
  }
  100% {
    top: -10rem;
    left: 0.5rem;
    opacity: 1;
  }
}
@keyframes orange-ghost {
  5% {
    top: -2rem;
    left: 0;
  }
  10% {
    top: -3rem;
    left: -2rem;
  }
  15% {
    top: -6rem;
    left: -2rem;
  }
  20% {
    top: -6rem;
    left: -8rem;
  }
  25% {
    top: -10rem;
    left: -8rem;
  }
  35% {
    top: -10rem;
    left: -13rem;
  }
  45% {
    top: -6rem;
    left: -13rem;
  }
  55% {
    top: -6rem;
    left: -23rem;
  }
  65% {
    left: -23rem;
    top: -14rem;
  }
  75% {
    top: -14rem;
    left: -2rem;
  }
  85% {
    left: -2rem;
    top: -10rem;
  }
  95% {
    left: 0;
    top: -10rem;
    opacity: 1;
  }
  96% {
    top: -10rem;
    left: 0.5rem;
    opacity: 0;
  }
  97% {
    top: -10rem;
    left: 0.5rem;
    opacity: 1;
  }
  98% {
    top: -10rem;
    left: 0.5rem;
    opacity: 0;
  }
  100% {
    top: -10rem;
    left: 0.5rem;
    opacity: 1;
  }
}
.pacman-backgroud__ghosts__ghost3 {
  color: rgb(255, 0, 0);
  font-size: 2rem;
  position: relative;
  -webkit-animation-name: red-ghost;
          animation-name: red-ghost;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes red-ghost {
  5% {
    top: 0;
    right: 0;
  }
  10% {
    top: 0;
    right: 0rem;
  }
  15% {
    top: 0;
    right: 1rem;
  }
  20% {
    top: 0;
    right: 2rem;
  }
  25% {
    top: -2.5rem;
    right: 2rem;
  }
  30% {
    top: -2.5rem;
    right: 10rem;
  }
  40% {
    top: 8rem;
    right: 10rem;
  }
  50% {
    top: 8rem;
    right: 15rem;
  }
  60% {
    top: 0.5rem;
    right: 15rem;
  }
  70% {
    top: 0.5rem;
    right: 10rem;
  }
  80% {
    top: 4.5rem;
    right: 10rem;
  }
  90% {
    top: 4.5rem;
    right: -7.5rem;
  }
  100% {
    top: 6rem;
    right: -7.5rem;
  }
}
@keyframes red-ghost {
  5% {
    top: 0;
    right: 0;
  }
  10% {
    top: 0;
    right: 0rem;
  }
  15% {
    top: 0;
    right: 1rem;
  }
  20% {
    top: 0;
    right: 2rem;
  }
  25% {
    top: -2.5rem;
    right: 2rem;
  }
  30% {
    top: -2.5rem;
    right: 10rem;
  }
  40% {
    top: 8rem;
    right: 10rem;
  }
  50% {
    top: 8rem;
    right: 15rem;
  }
  60% {
    top: 0.5rem;
    right: 15rem;
  }
  70% {
    top: 0.5rem;
    right: 10rem;
  }
  80% {
    top: 4.5rem;
    right: 10rem;
  }
  90% {
    top: 4.5rem;
    right: -7.5rem;
  }
  100% {
    top: 6rem;
    right: -7.5rem;
  }
}food_array .gone_15 {
  -webkit-animation: eat 0s linear 5.4s 1;
          animation: eat 0s linear 5.4s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_16 {
  -webkit-animation: eat 0s linear 6s 1;
          animation: eat 0s linear 6s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_17 {
  -webkit-animation: eat 0s linear 6.2s 1;
          animation: eat 0s linear 6.2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_18 {
  -webkit-animation: eat 0s linear 6.4s 1;
          animation: eat 0s linear 6.4s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_19 {
  -webkit-animation: eat 0s linear 6.6s 1;
          animation: eat 0s linear 6.6s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_20 {
  -webkit-animation: eat 0s linear 6.8s 1;
          animation: eat 0s linear 6.8s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_21 {
  -webkit-animation: eat 0s linear 7.4s 1;
          animation: eat 0s linear 7.4s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_22 {
  -webkit-animation: eat 0s linear 7.8s 1;
          animation: eat 0s linear 7.8s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_23 {
  -webkit-animation: eat 0s linear 8s 1;
          animation: eat 0s linear 8s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_24 {
  -webkit-animation: eat 0s linear 8.2s 1;
          animation: eat 0s linear 8.2s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.food_array .gone_25 {
  -webkit-animation: eat 0s linear 8.4s 1;
          animation: eat 0s linear 8.4s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes eat {
  100% {
    opacity: 0;
  }
}
@keyframes eat {
  100% {
    opacity: 0;
  }
}

.game_over {
  background-image: url("https://media.istockphoto.com/id/1325433246/video/game-over-text-animation-with-alpha-channel-4k.jpg?s=640x640&k=20&c=aZM_cNmjuXVVkLm12evzXTU0qFhAu3Vh2_2W_h-eq3c=");
  background-size: cover;
  width: 42em;
  height: 20em;
  opacity: 0;
  -webkit-animation: game_over 20s linear 10s 1;
          animation: game_over 20s linear 10s 1;
  position: relative;
  top: -45em;
  left: 1.5em;
  z-index: 1;
}

@-webkit-keyframes game_over {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes game_over {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}