body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}
body div {
  background-color: cadetblue;
  width: 150px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 4px solid black;
  border-radius: 7% 35% 7%;
  position: relative;
}
body div:hover {
  background-color: bisque;
  color: red;
}
body p {
  width: 120px;
  height: 110px;
  background-color: rgb(198, 40, 40);
  color: rgb(255, 255, 255);
  font-size: 30px;
  position: absolute;
  display: flex;
  bottom: 110px;
  right: 140px;
  border-radius: 7% 30% 30%;
  text-align: center;
  transition: 2s ease-in-out;
}e.int-inside-text thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #B90000;
}

table.int-inside-text thead th:first-child {
  border-left: none;
}

table.int-inside-text tfoot td {
  font-size: 13px;
}

table.int-inside-text tfoot .links {
  text-align: right;
}

table.int-inside-text tfoot .links a {
  display: inline-block;
  background: #FFFFFF;
  color: #A43152;
  padding: 2px 8px;
  border-radius: 5px;
}}

ul {
  color: white;
  margin-right: 2rem;
  cursor: pointer;
}

.navigation-container {
  display: flex;
  flex-direction: row;
}

a {
  color: white;
  margin-right: 10px;
  cursor: pointer;
}

.more-info {
  margin-left: 50px;
  margin-bottom: 15px;
}

#signin-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  position: relative;
  cursor: pointer;
}

#signin-effect:after {
  content: "";
  position: absolute;
  background-color: #0178ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#signin-effect:hover:after {
  width: 100%;
}

#home-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

#home-effect:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#home-effect:hover:after {
  width: 100%;
}

#news-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

#news-effect:after {
  content: "";
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#news-effect:hover:after {
  width: 100%;
}

#sport-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

#sport-effect:after {
  content: "";
  position: absolute;
  background-color: yellow;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#sport-effect:hover:after {
  width: 100%;
}

#reel-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

#reel-effect:after {
  content: "";
  position: absolute;
  background-color: #0178ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#reel-effect:hover:after {
  width: 100%;
}

#worklife-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

#worklife-effect:after {
  content: "";
  position: absolute;
  background-color: #0178ff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#worklife-effect:hover:after {
  width: 100%;
}

#travel-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

#travel-effect:after {
  content: "";
  position: absolute;
  background-color: green;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#travel-effect:hover:after {
  width: 100%;
}

#future-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

#future-effect:after {
  content: "";
  position: absolute;
  background-color: rgb(7, 46, 119);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#future-effect:hover:after {
  width: 100%;
}

#culture-effect {
  color: white;
  margin-right: 8px;
  font-size: 15px;
  letter-spacing: 0.5;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

#culture-effect:after {
  content: "";
  position: absolute;
  background-color: rgb(75, 11, 100);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#culture-effect:hover:after {
  width: 100%;
}

#menu-effect {
  color: white;
  margin-right: 8px;
  font-size: 25px;
  letter-spacing: 0.5;
  position: relative;
  cursor: pointer;
}

#menu-effect:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

#menu-effect:hover:after {
  width: 100%;
}

.welcome-text {
  color: black;
  font-size: 0.8rem;
  margin-top: 100px;
  margin-left: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.welcome-text h1 {
  color: #4a4a4a;
  font-family: "Poppins", sans-serif;
}

.welcome-text p {
  color: #4a4a4a;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  margin-right: 340px;
}

.band {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}
@media (min-width: 30em) {
  .band {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 60em) {
  .band {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: rgb(255, 255, 255);
  text-decoration: none;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  top: 0;
  transition: all 0.1s ease-in;
}
.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.card article {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h1 {
  font-size: 20px;
  margin: 0;
  color: #333;
}
.card p {
  flex: 1;
  line-height: 1.4;
}
.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}
.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
  filter: brightness(70%);
}

@media (min-width: 60em) {
  .item-1 {
    grid-column: 1/span 2;
  }
  .item-1 h1 {
    font-size: 24px;
  }
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 5%;
  }
  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }
  .footer .row a i {
    margin: 0% 3%;
  }
}qPvJfFU7k3kXtE3ahU0DC3rzF/O8mKh1gRtahYXlipieKyA5AeL9pLPTujeQ+5+0gqNM2J6mSiTpsLZT41XOwFz/Nekihx3yN+3WTOCPEl+AgDIm2QPQnr5zjlw3FKYcnNj6D95mUktkBYeUu0cMX0F5PYDYrGxbKYuTWkRRwzNoDJvZ+wic2FpO4TZypyzmcigTFyXTHw2BVBYCZNp9MTntpSYAn0JIja28NDD5MeN+ILwJnZjoHcZD0jGXK6kS6ieweNemfCctSp+HzP5fPKbJsjaaYhC6kZMVNiCLi2hGoznBdob4PVZkcgDjIVEvw20Bbqb31vOq+y43wrMNDVb5hVB8+npPXhjljrdcsrK3WIidmH2YmPwSVkKOLqfmD1HQzLiBxve3c96N2A4kvkwH69DOc7S2aUNwJ6lq01ZSrAFSLEHQic63t3KsC9EXXUrzH7iRqVxTCPY2My2S2YmRtfZpQ8QHnMKjXtkYKmdh7eqYdgysQR3naN1t9KWJARiFqd8g3l0PacEamDmsroV3QggkHrKj1NE4LhPaJjKae7V1IGjMvEw8r5W7G8zMD7ScapBYpUHNWVVy7FAM5DTt0TVd399cPigASaT/lfIE/2tofoZs/GL2uL9Lyo0rfXcGli6LCiq0q3EXBAsrNz4gNCeoHnOV43A1aJFOupWoqqGFwc7DO4yN9b956Mmge0Xd1qtq9NSxVeFwNbDMNbnqQfSBy3DnJh5fz6yMo24c+/6yVRCrEdj9jIZDYsP7jCqOAh/CMrazoO5OIdWIy8YCm4BVhyDqfiX69DNFvJjYe2WoOCRdfqPLr5Th5cLZuN43Xbp52XS4rIgR9eDk3em34v8T4hPnABl0ytzHpylWAxSVk41IdW+h/UMPmJknMeO7Wy4wLuvZh/8i9/i855Zlvi8V1s9MYCfQJcqUitibFW+FlzVvIjn21kbtTbNDDj/AJXAa4ARc2udAeS+vyiS26kTcSASRW19vUcOp4m4nyHAmZudOIjJZqm196K9RTY/01I1RT48yGvmQzjPQfK5tNSxG0QrOtIH3i1wwcMGRkXiGh5EhD0IuD37YeH2zcvTaNtbx1nADN7ii1UJxLdgQLF+MjM2BBt00mlV3qVHdafwcZJYZKeXEWOgsO2UyWwjVHZqjDicvU4VBCg3JJA0AubcvWbZuzuhicUqcKcFLg4Sziym+rKBm2R5ZG+s9GMmLF5WfZ3uauIrgOeJFUO7LoFPwqp6sb59Fad9w2HSmioihVUWVQLAAcgJE7rbvU8FR90mZJu72ALHQZDQAWAH+5OTU9s19iIlQiIgIiIGmb2bmpiFZqQCudV0Ddx0P0M4ZtnY70HKOpUg6kW/6nqWQW8u7VLGJZwAwHha2fkeokWV5rw9VlNjMkOCSZsO8e6r4VrMuVjY8jyuDzGc12nSupYcoafWQ8pWMtZ8RxwknQfy0pSkX8TZDkvbvKimrtIrkDbyNvrFN3ax4vW5lx8CrWut7Sv3YUdBCNv3T3qxGGZQcR7ynlxU3ucv7GJJU/TtOt4HebC1fhrJfox4T/8ArX0nnQOeQP6StcU46+hgd527ufQxPjW1Nz+JQCrf5D7i3rOH7c2TUw1d6dRCpBvnoR1U8wesy9m7z16JHBUdO1yAfMaGbNT35FYBMZQp11GhZQrDyYaegkGgASU2TsPEYluGjSd+4FlHm58I9TOn7BqbGqEcNFEc6LVBIv5sSvztN/pKoUBQAtsgLWt2tyhGhbn7hVMM3vK1c3Izpp8J/wAiwz9APObDjcCyksM16jl5/vNgic/J4pnP1vHOxzTe2oUwzujMpuOIKSATceIgfitcX79hbktfbQZF4Fb3oqAgEKysgF8xrxcXLoZ6H29u2mJTg4igJBJAB0IOQOXKajtf2bcK3wzcTaFXsL9wwGUnjxuM1TLLd3HIxhmdz71uEVGaoKSE8PFmTley2BKjU2NpsO7m6dfElDSohFF+It8AJy+LnYZ2F8+k6Luz7NKVII2Ib3jLog+Ac/EdWz8hplN+pUwoCqAAMgALADsBOnP1wjUd3PZ/hsOFLj3rqBbi+BbflU6+ZvNwAtKolkkTb7ERKhERAREQEREBERA1/fXAe+wdVQLso4ly/KQxt5gETgowfAWIORBuOYM9MzlXtB3RFJHxNHJOEh0/KSQAR1W59L9NIscharxNb8I5dTykpRe+sjtn4biuZnAWhplBZ8elcj+es+o0uqeUqMKohvmfLp/35ykLbI3+5/aZzKOctNR6eohGOyXEslSNPl+3SZZQDMZemZHpPoQa/wA9YFinWOoJE2HYe+GJw1gr3T8jeJT6HT0tID3dj5z6UkHadg+0TD1rLV/4X75oT2bl6/OblSqqwDKwZToQQQfIieY7GSOzds1cM3GlRkPRTmfMaW84R6QicLb2qY0EW92QOqa+diM/K06DuTvvTxw4HUJXAJKj4WA1KXz8wfrnZsbnERKEREBERAREQEREBERAREQEjdvbP/qMPVo/nQgf5ai/a4Ekogea8BgGpu9NwVdGIIORBuRYzH2inALnS87xt/dOhiWFQ3SqBbjUDxDSzr+Id8jpnONb77LegzI4zVteTLnZhIu0YKTCxHiHaXEe8xcNiGQmxuAgax75zLSujgE+Bjz5GVVwGCIIIyb0I0M+nLWEUkSgrLtp9VbwLISVe6yuchLjuq62+0jsTjSdJLdC7XrhdMu/ORlRyZW3fOWmmfkafVWbBufijSxmHe9rVEB/xY8LD5EyFwyMeWUysM3CynPIg/I/rEyl6XWnqGJQjAgEaEXlc2yREQEREBERAREQEREBERAREQE1jffdpcbQZRYVVBKN1OvAT0P0+c2eIHl/E4B0ZldSrqjI6kWKsuYv6DWYtN7+6HUEeoJH2noreXdqnilJsFqgeF7a/wBr/mX6jl34ZvBsGphnVHUrwOD/AOJa9weYNjn/ANSKwsNiyLjVQbEGZaOpOWkimQqayjO3i+ZIP2l9AbIRzRP/AFEKkjMavjgMlmFi8UfgHO1z2HL5yyDJbokVVHLHMy20+F+Xf68pnUMAT8WXb95yyy1zWpGJSRmYKoJJ0Aklh9lHh4ny6Lz+X3mZh8MqWsLGSGGwrtnf1nHLO3puYyLeCwS5ZZ2kwuyKKqrVyqK54VLMEux04ST/AKmfgNlWsWyXrz7WmFjt2XrVeI1uPuwN1Xoo+EL5WE4TKfLvX61Zx1t03ZW1U4FRrqyqq+LQ2AAN+pk1OK4neLD4FVoUQatToCWVepY87flGWU6PuJialTBo9TUs9ja114jwkDpPZ4ss7P5T+nHKSdNliInoYIiICIiAiIgIiICIiAiIgIiICRW29iUcUhSqt+jfiU9j8stJKxA4HvVujVw1VmYcSOjKHA8JOunI+HT9dZB7IsUUHVSV+TG30tPSGJwy1FKOoZWFiDp/O85LvnuiuEIqU7mk7nzRiL2uOR4de3zg5tiKVqj31vLFQNcW1Jt9pIbVFqhOeYv/AC0xTTVhZhcRZtqVJ7NKAGyENbxNqbcwPyjyzPXlJTD01b4dOvWR+x8cKTocsra6W0zOo851HC4GjVRayoqlh8aDwk/3qmQP9y/KeHy243mO2PM4ajU2clFUfEP7sNbhUqWdgT8fCviVB1M2TDYekEDIVccmBDKe+UwNobqKXLtUYKfEzMQ1x1FQnMW85EbS3oo4Ye4wKcb53f8ACrXsWPU5HM9OUxcLnqY22/fqLuTtsu0cfSw6F6zhFtkNWbsB95ou1t5q2IBWlehQPP8AG47DU/pMbZuyMRja3Eb16pzufgUHpy9TlprOtbsbhUqFqla1Wr3+FTrkDr6/Kejx+DHHvm/5HPLO38jSN0twqtYhyDSpXzds3qDTK+fXPTTWdow9BURUUBVUBVA0AAsBL0T0Se3O19iImkIiICIiAiIgIiICIiAiIgIiICIiAmNi8KlRSjqGVsiDp/3MmIHA/aVu/wD01dOAE02W6k/Irftl6ETUFnprbGyKOJpmnWQMvLkVPVSNDNEb2S0uO4xDhPylQTbpxXt9JByTDUXdgqKWZjYAAkk9ABrOv7g7nYmipavUKKwv7kWJvyZibhT2GvPpNr3f3Xw2DH/EniOrtm59eQ7Cwk5JcZlNVZddOe787sVaqf8ACGbqFNjzzA0vcDzsOkgN1/Zu7Z1lNGmD8P42t1/c9rCdhiZxw+M1Oi3fbB2Zsulh0CUkCr21PcnUmZ0T7NySdIREShERAREQEREBERAREQEREBERAREQEREBERAREQERED5E+xAREQEREBERAREQERED/9k=);
  width: 200px;
  height: 190px;
  border: 2px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.wrapper__container #Nope {
  color: red;
}
.wrapper__container #White_Noise {
  color: red;
}
.wrapper__container #Strange_World {
  color: red;
}
.wrapper__container .index {
  height: 5px;
  width: 5px;
}-align: left;
}
.main_conteiner__first_conteiner__item3__headline3 {
  text-align: left;
  color: white;
  font-size: 15px;
  position: relative;
  top: 70px;
}
.main_conteiner__first_conteiner__item3__paragraph3 {
  text-align: left;
  color: white;
  font-size: 9px;
  position: relative;
  top: 80px;
}
.main_conteiner__first_conteiner__item4 {
  grid-row: 2/3;
  grid-column: 3/4;
  height: 140px;
  width: 200px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAi8GmRq8ptRr_8qPE2TTSALsD5HGJJCGOjw&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}
.main_conteiner__first_conteiner__item4__headline4 {
  text-align: left;
  color: white;
  font-size: 15px;
  position: relative;
  top: 70px;
}
.main_conteiner__first_conteiner__item4__paragraph4 {
  text-align: left;
  color: white;
  font-size: 9px;
  position: relative;
  top: 80px;
}
.main_conteiner__first_conteiner__item5 {
  grid-row: 2/3;
  grid-column: 4/5;
  height: 140px;
  width: 200px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReXByYVUTT0LRuGocT5W1O-dXFcU6ErnM_MA&usqp=CAU");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}
.main_conteiner__first_conteiner__item5__headline5 {
  text-align: left;
  color: white;
  font-size: 15px;
  position: relative;
  top: 70px;
}
.main_conteiner__first_conteiner__item5__paragraph5 {
  text-align: left;
  color: white;
  font-size: 9px;
  position: relative;
  top: 80px;
}
.main_conteiner__second_conteiner {
  display: grid;
  grid-column: 1/1;
  grid-row: 2/3;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
}
.main_conteiner__second_conteiner__item1 {
  font-size: 20px;
  height: auto;
  width: auto;
  text-align: left;
}
.main_conteiner__second_conteiner__item1__headline1 {
  text-align: left;
  color: black;
  font-size: 17px;
  width: 90%;
}
.main_conteiner__second_conteiner__item1__paragraph1 {
  text-align: left;
  color: black;
  font-size: 12px;
  width: 90%;
}
.main_conteiner__second_conteiner__item2 {
  height: auto;
  width: auto;
  text-align: left;
}
.main_conteiner__second_conteiner__item2__headline2 {
  text-align: left;
  color: black;
  font-size: 17px;
  width: 90%;
}
.main_conteiner__second_conteiner__item2__paragraph2 {
  text-align: left;
  color: black;
  font-size: 12px;
  width: 90%;
}
.main_conteiner__second_conteiner__item3 {
  height: auto;
  width: auto;
  text-align: left;
}
.main_conteiner__second_conteiner__item3__headline3 {
  text-align: left;
  color: black;
  font-size: 17px;
  width: 90%;
}
.main_conteiner__second_conteiner__item3__paragraph3 {
  text-align: left;
  color: black;
  font-size: 12px;
  width: 90%;
}
.main_conteiner__second_conteiner__item4 {
  height: auto;
  width: auto;
  text-align: left;
}
.main_conteiner__second_conteiner__item4__headline4 {
  text-align: left;
  color: black;
  font-size: 17px;
  width: 90%;
}
.main_conteiner__second_conteiner__item4__paragraph4 {
  text-align: left;
  color: black;
  font-size: 12px;
  width: 90%;
}
.main_conteiner__second_conteiner__item5 {
  height: auto;
  width: auto;
  text-align: left;
}
.main_conteiner__second_conteiner__item5__headline5 {
  text-align: left;
  color: black;
  font-size: 17px;
  width: 90%;
}
.main_conteiner__second_conteiner__item5__paragraph5 {
  text-align: left;
  color: black;
  font-size: 12px;
  width: 90%;
}
.main_conteiner__second_conteiner__item6 {
  height: auto;
  width: auto;
  text-align: left;
}
.main_conteiner__second_conteiner__item6__headline6 {
  text-align: left;
  color: black;
  font-size: 17px;
  width: 90%;
}
.main_conteiner__second_conteiner__item6__paragraph6 {
  text-align: left;
  color: black;
  font-size: 12px;
  width: 90%;
}  text-align: left;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #4A4A4A;
  margin-top: 8px;
}
.news_grid_container__sub_container__item3__text_container__p2 {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #767676;
  padding-bottom: 10px;
}
.news_grid_container__sub_container__item3__text_container__p2::before {
  content: " ";
  margin-right: 0.5rem;
  border-left: 2px solid #e91802;
}

.sport_grid_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-height: 438px;
  padding-top: 16px;
}
.sport_grid_container__sub_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 14fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  padding: 0;
  width: 1260px;
  height: 438px;
}
.sport_grid_container__sub_container__h2 {
  grid-area: 1/1/2/4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
}
.sport_grid_container__sub_container__item1 {
  grid-area: 2/1/3/2;
  display: flex;
  align-items: flex-end;
}
.sport_grid_container__sub_container__item1__text_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.sport_grid_container__sub_container__item1__text_container__image_container {
  width: 409.344px;
  height: 228px;
  background-image: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/F3DE/production/_127703426_steward_getty.jpg");
  background-size: cover;
}
.sport_grid_container__sub_container__item1__text_container__h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  color: black;
  padding-top: 8px;
}
.sport_grid_container__sub_container__item1__text_container__p1 {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #4A4A4A;
  margin-top: 8px;
}
.sport_grid_container__sub_container__item1__text_container__p2 {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  color: #767676;
  padding-bottom: 10px;
}
.sport_grid_container__sub_container__item1__text_container__p2::before {
  content: " ";
  margin-right: 0.5rem;
  border-left: 2px solid #ffd930;
}
.sport_grid_container__sub_container__item2 {
  grid-area: 2/2/3/3;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}
.sport_grid_container__sub_container__item2__text_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.sport_grid_container__sub_container__item2__text_container__image_container {
  width: 409.344px;
  height: 228px;
  background-image: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/13F2E/production/_127701718_gettyimages-1442790234.jpg");
  background-size: cover;
}
.sport_grid_container__sub_container__item2__text_container__h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  color: black;
  padding-top: 8px;
}
.sport_grid_container__sub_container__item2__text_container__p1 {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #4A4A4A;
  margin-top: 8px;
}
.sport_grid_container__sub_container__item2__text_container__p2 {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #767676;
  padding-bottom: 10px;
}
.sport_grid_container__sub_container__item2__text_container__p2::before {
  content: " ";
  margin-right: 0.5rem;
  border-left: 2px solid #ffd930;
}
.sport_grid_container__sub_container__item3 {
  grid-area: 2/3/3/4;
  display: flex;
  align-items: flex-end;
}
.sport_grid_container__sub_container__item3__text_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.sport_grid_container__sub_container__item3__text_container__image_container {
  width: 409.344px;
  height: 228px;
  background-image: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/1476C/production/_127702838_20619543-1.jpg");
  background-size: cover;
}
.sport_grid_container__sub_container__item3__text_container__h3 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin: 0;
  color: black;
  padding-top: 8px;
}
.sport_grid_container__sub_container__item3__text_container__p1 {
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  margin-top: 8px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #4A4A4A;
  margin-top: 8px;
}
.sport_grid_container__sub_container__item3__text_container__p2 {
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #767676;
  padding-bottom: 10px;
}
.sport_grid_container__sub_container__item3__text_container__p2::before {
  content: " ";
  margin-right: 0.5rem;
  border-left: 2px solid #ffd930;
}W5jqx3XDdQwQcAEnYC5/fc6fObcWieNe1k8mb/ANR6a/MS4q9GU5VsWLZiSeZJMyxkB08/0/YmM01MGxnC4jIb2uP3tPTYPGqy5lPmOY8xPIZpunVKm6mxkygpGvn7OOvg9wtjrGcO88nguMEaP6jad7B4sE3B3nPKDj074esZcZ0a/EUBykEnoATO97NcVcXC0GsNyBYEE8721E4VPCe8tZrd53sQzYTC1KrVMzZctMbeNvCunzv5AyGjZNU2zxftRi/e4mqw1UOUXyTw6fME/OcimwEJSa4tuT9zLRClxlBb1tNV+Dlf0/U/ktcWTodp9G9jfaXA4XCgO4WqxYuAjMx1NtQLWtbnPlFd3XfnG+C4U1GudhCXmlv8E/y5rCj1PtjxyjiaoeijgBbEsAMxvoQoOk4VTF2UA/WdTEMlJToNp5+tRerdhoJMIr9B6XHXyYuGbLfQwj4ZUHxRHCUDn01tvG+KcOqovvChCG2t9r7XE6KXDlt9HKD3HaArrzEQwuLI0jlOtfQzOUWjWMlI3RpsdhDYa6sbzqcKy5TFcVbMbbzNyOhR0JVFJYmRz4ZGuNIq176mC2DWtIMzaRdgY3hmHOSu6yloT83VtnNYy2bSVUOsHNkjlky5pRKVZovAk3aSS8kkoyIWg1jArNAxtWEXWxivUvMJVsYMm8q0mkVb6MO/M7DU+QnJqVCxJO5N4xVa4ub2PwgcwDa5PIQV+gA/feaRVGU5WBtJlPSFzHrOlTwwZEA/KDc8yWJNvIAj6xt0Qo2ceanWbCJzHzvrBPw8bod+usLDFnOnQw2IFNLkEsxuouQthuTb9INMAxbKdO9r/aOVcGoyFmuTlVUHS+pYxSp6LipLaG+F8ZrXsqZvnYTpYnGPWZErN4FubLewa2569PnNYVURC+X8unnte051GsupO+o01MypN6R0r0klTY44RELBRdrgD+nvM4dggDaFm9IDF1Rk87Si6hN7nl0hiQ5N7YhxvFBmCgDTcidvgKKqAmeTxS2bQ3nd4Zj0yFW5COcfpSQ/GSybZXFKoq1VpqdWIA+ZtPZe0PBqeFwS+K7kAX5ljvp0nhuDhfxOcahTe30j3tLxl6zgEkqgsB35mLF2kuBmqbfTiYOuUfXY9Z6ZuMCsnumy2tvbe2wM85WpBhcbxAVGU3vtNaswyaOriOEvnJQXUbazKUWI1FiJvD8Xe1tD5wv4gtsLyZN0XBJs1QxZTS8G+LJN4HITJksZlR1qcUtFtUZjKNIwlF9bCFxDWsBAJemhE3EGzR4kTn1dzLRzSkyEyATKQp2lmZpDLCiCBm4mhpmssqZzyRUFmQZpYK8IplMSD0ad4HEDXLy5noo1MPawvFWqDxXF/hHy1J+oWTHpctKgLg7kWuNB22Fu1ph5pnudZl95oc7NKscSsQjINDv3tziqwrQLRhIxh6xFwLDmWPICK3lMdh1P2hQk6H3xXh0vmJ18ukCHvUS55j6xdG3lFvGD5RUNyPZ1XQIy31sBbltynAwABYgm2pueYjNTEgJe4vvbsBpOL+KY9B5CSomkpbR0cU6XNzoNAOZiVbEltBoIuW5mQtKSM3IphNYY62vvIiXjIoAamDCKd2awiZGOu8qte95n3kxVNofI3wZwzRWvS8Uum/ym3OusA6gmHwinnaNUKwU5BrEUHeVRqZGvvBqwjo6tfCFSCLm++m3fyieJexnUwfGAoIy3J21+/acyoLtMvk2T0BpVDfSW1Q31hKTBWN4DEPdrxrbFLgVNQYq28epfDEam8qPSHwzeGR+UAJtBKZKGRh7i4g6lNo5SawhtJnbNMUcrJ2knR915yR5Co5ULSW5gwJtHtLZKDV35RWjY5yeQJHmbAfe83XfQmLUm3HUf7witClLZYlsNZBLlGZtZbGYG8jGIZq15t018tJWH+IdtfTWTPAYFtDIx1vNPaZYxkhWqgra/OBvMWljWA7s1eWqw2Fwpe/YgHlqx0W/ImxGvPTnOpWwasgQgK/8ApvYqGN/+VUHJ+QPPQeasaj8nOoVQNAJHe51gHpMjWYEEcjLzRNFxlqjZhCbi0EplsbQAyRNgd4ImXeDEqLZpUq8qMQzhj4hG3FmERw58QjtR/EJnJbNoPRnEmJ3uY3izFRvHHgpu2OD4YjU3j35YKphydQIk6E1YoBCqsnuyNxCUiL6ymyUgovaWHMMqAyzhjIsumB94ZJvJ2ki0GzBoSfhYH3xhFxRj2O4imPTLYddYmDD42rme/QAReax4c8ncgwl3mAZqMRsmVeUplXgAVWsrHsB6n/F4IvNvog7t9h/vFoAzZaVmlzMBG1toTtvba4npOF4BzUX3KZymrAsqgocqgksRa5Bt2M8+lLMBbfa3W/SM0HIsy3V06aEgb/8AyJ7NI66egXh6f8aP6KqeE2N0fNnXMpOxsdzqFPKDwWJD5Ec3ZLF3GpKqRlcg7kXAbsTfYxv2b4wmfEPWIzVXQ2yF0OUG621tuNzy84nxziIeoK9KktJUR0Kqb6NdRfSw+LbvuZG7o01Vk41QzI6k5no+NW5vRb4HOmrWFj3UdZ5ueh/H/wAygSBZgyf2P+VutnsR5mInh4zMBsGIHluPoRHdLZOOT0c+mJqpOoOHwNXhxk5Ky8JJHMkjhwREsYY9JWSJwkJXkjbYc9IJcO3SPJCcWDQ6xlWuwjmF4fpqI7S4cu8zlJGkIMVq0bi5iC07mwnbxeHAWKYGh4tZKlRo47NUsGbQ4om1rTq00mHXtIci1BI5L4btBNggZ0qoPSAZo1IlxQg2GZdppMURoRGmeAZBGpX0Tj+CvxQkmMgkj0TTMnDiYbDxykt1veAxz5UY87WHz0gm7oeqs4Dm5JlSSToOM0s1eYE1ARcl5U3TW5+p8hACVzsOg+p1ghLc3N5QgDZsCZIm0lkXBgAXCtbqOYYflYag/aez4jwpKiLVAyVCCz5jrlIJ/mAXtpz31BOm3leFU75mOayW1VlXKxN73YEbA6+U9Vi+IPToKUCspOrAkgnMVKhjqfzC51Nidbm8S7o3gljs85RolVIOhzsmUixV1Fwb877enWMcPOd3TYVUca8myk39ROtXo03RcqqoLO4JUi4FPwrmvo1wVsb2KDrEsMz/AMsq98qqjIWPhBUJfKRp4rEWJHPTaFg40cXi6sjKmYE0wRmGxYHcegnS4pibVCw2cK/yYXH0tJ7QUvAFTUIVBsNQCngJ07P1/LtFXIdEIvcIqEHcFBl+tr/ODaaCKak6LTGtDLjT0ioombVDM3ibLIO2JJ5Slrt0kQQypJtDpmRiOol/iR0hQl5ZpiK0VTMpi+0qtjDyE37sTJpCK0FMQq4lzGcBVOcEzf4eZ91aU2qJSdnbOMWQ4lTOIymZObrJorJnXq1xB5lM5Bdpj3jCPEWR0nQHaAfDnkYicQ15PxrCVixOSGPcPKi/45pI8WRlEunVO3KA4jVJUDvJJKX3Ey+1nOkkkmpzFiakkgBJrNYEdfsJJIADkEkkACptKOhvJJACAjednBcVdRT921imawtowqNdg19/paSSJlxbs9tRrJiUDU9RqpzA3U7HNc7m4+G/LXTTi0cNTpO1NSWdvC1zcAKG0BKj81jffwjXnJJMkdD4h/hbU/ctiGJIK3qEKLg00qXAB3/1Bz2W04N8wzNuwBPp2kkkSKj39EKi0oASSSTUtaYhVoySSRo2Kc37qXJAoyqy2pAySRAU1ODNMSSRiYNklFZUkZINjYzeZeYkkjEaNGmfzD0b/EE+Fpn8w9G1+kkkpMQP8AvWSSSFsMUf/9k=);
  grid-area: 3/3/5/4;
  color: white;
  display: flex;
  align-items: flex-end;
  padding-left: 1vh;
  padding-right: 1vh;
}
.item_4__title {
  font-weight: 800;
  font-size: 2.5vh;
}

.news_header {
  font-size: 5vh;
  padding-left: 30vh;
  padding-right: 30vh;
  padding-bottom: 3vh;
  padding-top: 2vh;
}

.news_container {
  padding-left: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30vh;
  padding-bottom: 2vh;
}

.aritcle_trump {
  width: 50vh;
}
.aritcle_trump__title {
  font-size: 3vh;
  font-weight: bolder;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.aritcle_trump__img {
  width: 50vh;
}

.article_election {
  width: 50vh;
}
.article_election__title {
  font-size: 3vh;
  font-weight: bolder;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.article_election__img {
  width: 50vh;
}

.article_artemis {
  width: 50vh;
}
.article_artemis__title {
  font-size: 3vh;
  font-weight: bolder;
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.article_artemis__img {
  width: 50vh;
}

.sport_header {
  font-size: 5vh;
  padding-left: 30vh;
  padding-right: 30vh;
  padding-bottom: 3vh;
  padding-top: 2vh;
}

.sport_container {
  padding-left: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 30vh;
  padding-bottom: 2vh;
}

.aritcle_japan {
  width: 50vh;
}
.aritcle_japan__img {
  width: 50vh;
  margin-top: 3vh;
}
.aritcle_japan__title {
  font-size: 3vh;
  font-weight: bolder;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.article_ronaldo {
  width: 50vh;
}
.article_ronaldo__img {
  width: 50vh;
}
.article_ronaldo__title {
  font-size: 3vh;
  font-weight: bolder;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.article_australia {
  width: 50vh;
}
.article_australia__img {
  width: 50vh;
}
.article_australia__title {
  font-size: 3vh;
  font-weight: bolder;
  padding-bottom: 1vh;
  padding-top: 1vh;
};
    left: 300px;
  }
  100% {
    top: 150px;
    left: 350px;
  }
}
@-webkit-keyframes baloon10 {
  0% {
    top: 300px;
    left: 300px;
  }
  25% {
    top: 250px;
    left: 350px;
  }
  50% {
    top: 200px;
    left: 300px;
  }
  100% {
    top: 150px;
    left: 350px;
  }
}
@keyframes baloon10 {
  0% {
    top: 300px;
    left: 300px;
  }
  25% {
    top: 250px;
    left: 350px;
  }
  50% {
    top: 200px;
    left: 300px;
  }
  100% {
    top: 150px;
    left: 350px;
  }
}