* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  html {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  


body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black color with 50% opacity */
  }


  #particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }



 