*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgoldenrodyellow;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    position: relative;

}

header{
    background-color: #F6BF05;
    display: flex;
    width: 100%;
    justify-content: center;
}
.quizBody{
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    
    max-width: 80%;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px;
    background-color: rgba(28, 59, 151, 0.329);
        .btns{
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 10px;
            margin: 30px 0;
        }

        .btn{
            padding: 10px 15px;
            border-radius: 5px;
            outline: none;
            border: 2px solid rgb(35, 53, 105);
            background-color: rgb(117, 141, 214);
            color: white;
            &--correct{          
                background-color: rgb(59, 90, 13);
            }

            &--wrong{
                background-color: red;
            }

        }

        .btn:hover{
            border-color: black;
            cursor: pointer;
        }

}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
        .menuBtn{
            font-size: 2.5rem;
            font-weight: bold;
            padding: 20px 20px;
        }   
}

         
.endGame{
    height: 400px;
    width: 900px;
    border-radius: 50%;
    background-color: rgba(28, 59, 151, 0.555);
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow:  0 0 10px 2px;
    #finalScore{
        font-size: 50px;
    }
        #endGameMessage{
            color: lightgoldenrodyellow;
            padding: 51px 0 40px 0;
        }

        #restartBtn{
            border-radius: 5px;
            outline: none;
            border: 2px solid rgb(35, 53, 105);
            background-color: rgb(117, 141, 214);
            color: white;
            font-size: 2.5rem;
            font-weight: bold;
            padding: 20px 20px;
        }


}


.hide{
    display: none;
}