 
  body{
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 6%, rgba(0,212,255,1) 100%);
  }
  
.container{
    display: flex;
    width: 100%;

    
}
 .navbar{
    font-size: 32px;
    display: block;
    width: 15%;
    margin: 100px 0px;
   }

   .navUl{
     font-weight: bold;
   

    li{
        list-style-type: none;
        padding: 70px 0px;
        cursor: pointer;
     }
     li:hover{
        font-size: 34px;
        color: #7f369c;
        transition: all 1s ease-out;
       
      }
    
   }


   .main{
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    
   
   .addStudentForm{
    font-size: 28px;
    
    

    &__h2f{
        font-weight: normal;
      }

      &__inp{
        color: #7f369c;
        border:4px solid plum;
        font-size: 24px;
        padding: 15px 5px;
        margin: 5px 0px;
        outline: #7f369c;
      }

      &__btn{
        font-size: 22px;
        border:3px solid rgb(182, 89, 182);
        }
   }
    

   }

  //  bord/table

  table{
    
    font-size: 30px;
   }

   tr, th, td{
    padding: 6px 6px;
    border: 3px solid rgb(234, 160, 11);
    text-align: center;
   }

   th{
    background-color: cadetblue;
   }

   tbody, tr, td{
    background-color: #7f369c;
    
   }

   #tbtn{
    font-size: 26px;
    background-color: lawngreen;
   }