.wrapper{
    position: relative;
    margin: 0;
}
.box {
    height: 70px;
    width: 50px;
    background-color: aqua;
    z-index: 3;
}

.pageTopper{
    background-color: rgb(201, 98, 241);
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.pageHaeder{
    background-color: rgb(167, 167, 167);
    height: 200px;
    position: sticky;
    top: 0px;
    font-size: 5rem;
}
