form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    input,
    textarea,
    select {
      margin: 10px 0;
    }
  }
  
  .item {
    color: white;
    width: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .description {
      margin-bottom: 10px;
    }
    .actions {
      display: flex;
      justify-content: space-between;
      button {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #fff;
        cursor: pointer;
        &:hover {
          background: #ccc;
        }
      }
    }
  }
  