.navbar-container {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 10px;
}
.navbar-container__nav {
  width: inherit;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.navbar-container__list {
  border: 1px solid black;
  overflow: hidden;
  list-style: none;
  border-radius: 15px;
}
.navbar-container__list:nth-last-child(3) {
  overflow: hidden;
  background-color: gold;
}
.navbar-container__list:hover {
  scale: 1.05;
}
.navbar-container__btn {
  border: none;
  padding: 10px;
  cursor: pointer;
  background-color: unset;
  font-size: 1.5rem;
}