.bodyHomePage {
  background-color: rgba(9, 179, 179, 0.555);
  &__userForm {
    //    background-color:  rgb(194, 21, 194);
    //  border: 5px black;
    width: 550px;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    //   border: 1px solid black;
    border-radius: 10px;
    position: relative;
    left: 70px;
  }
  &__mainLogo {
    width: 300px;
    margin-left: 40%;
    border: 1px solid black;
    border-radius: 10px;
  }
}

.form{
  position: relative;
  left: 120px;
}

.list {
  height: auto;
  width: 200px;
  margin: auto;
  background-color: rgba(0, 255, 255, 0.123);
  img {
    width: 100%;
  }
  border: solid coral;
  padding: 50px;
}

#listofUsers {
  display: flex;
  flex-direction: row;
  width: 1000px;
  margin: auto;
}

.linkButton {
  height: 100px;
  width: 100px;
}
.userForm {
  background-color: rgb(194, 21, 194);
  border: 5px black;
  width: 550px;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: 1px solid black;
  border-radius: 10px;
}

.recurring_div {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  border: 5px black;
  width: 550px;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: 1px solid black;
  border-radius: 10px;
}

.userImg{
  height: 100%;
  width: 100%;
}

.recurring_user {
  display: flex;
  flex-direction: column;
  background-color: rgb(236,236,238);
  border: 5px black;
  width: 300px;
  height: 100%;
  margin: auto;
  margin-top: 30px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border: 1px solid black;
  border-radius: 10px;
}

.headline {
  display: flex;
  flex-direction: row;
  height: 90px;
  border: 1px solid rgba(0, 0, 0, 0.3151);
  border-radius: 10px;
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
  &__instegram_logo {
    position: relative;
    left: 10px;
    top: 20px;
    height: 70px;
  }
  &__formClass {
    padding-left: 50%;
    padding-top: 5%;
    padding-left: 40%;
  }
}

#id_heart {
  position: relative;
  left: 140px;
  bottom: 85px;
  height: 60px;
  width: 60px;
  margin: auto;
  margin-bottom: 8px;
}

input[type="search"] {
  width: 230px;
  height: 30px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 12px 20px 12px 40px;
  position: relative;
  bottom: 40px;
  right: 100px;
}



.body_background_color {
  background-color: rgb(203, 203, 203);
}

.h1_design {
  position: relative;
  left: 10px;
  font-size: 20px;
}

.small_logo {
  width: 50px;
  height: 50px;
  border-radius: 100px;

  float: left;
  position: relative;
  right: 10;
}

.bottom_headline {
  display: flex;
  flex-direction: row;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.3151);
  position: sticky;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

#storyBox {
  background-color: rgb(236, 236, 238);
  width: 650px;
  height: 100px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center;
}
#storyBox2{
  background-color: rgb(236, 236, 238);
  width: 650px;
  height: 15px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center;
}
#storyBox3{
  background-color: rgb(236, 236, 238);
  width: 16%;
  height: 15px;
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  text-align: center;
  position: relative;
  top: 20px;
}

.frame {
  background-color: aliceblue;
  width: 800px;
  height: 100%;
  margin: auto;
  border-radius: 10px;
}

.img_story {
  border-radius: 180px;
  width: 50px;
  height: 50px;
  border: 2px solid rgb(236, 37, 37);
  border-image: repeat;
  position: relative;
  top: 20px;
}

.bottom_headline {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.3151);
  position: sticky;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
}
.img_bottom_headline {
  width: 30px;
  height: 30px;
  position: relative;
  top: 10px;
}
.story_text {
  position: relative;
  top: 21px;
  font-size: 17px;
}

.dots {
  width: 30px;
  height: 30px;
  position: relative;
  left: 470px;
  top: 20px;
  display: inline;
}

.recurring_div_headline {
  display: flex;
  flex-direction: row;
}

@keyframes color {
  0%   { background: #33CCCC; }
  20%  { background: #33CC36; }
  40%  { background: #B8CC33; }
  60%  { background: #FCCA00; }
  80%  { background: #33CC36; }
  100% { background: #33CCCC; }
}

body {
  background: #33CCCC; /* Fallback */
  animation: color 9s infinite linear;
}

.story{
  display: flex;
  flex-direction: column;
}

.releaseFilter{
width: 20px;
height: 20px;
}