
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;900&display=swap');
@import './stylesRoot.scss' ;



*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


.main-section{
  width: 100vw;
  color: var(--black);
  position: relative;
}
