body{
    background-color: salmon;
    margin: auto;
}

.img{
    width: 45rem;
    height: 45rem;
    border: 0.1rem solid black;
    background-image: url("https://images.dog.ceo/breeds/pinscher-miniature/n02107312_3823.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}