.grid_container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    padding: 10px;
    width: 80vh;
}

.grid-item{
    background-color: rgb(255, 101, 101);
        height: 25vh;
        width: 25vh;
        border: 1px solid rgba(0, 0, 0, 0.8);
}

