body{
    margin: 0;
}

.imag{
    width: 400px;
    height: 300px;
    padding: 25px;
        display:flex;
        flex-direction: column;
        gap: 25px;


    img{
        width: 100%;
        

    }
}

