.header{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__left_title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.header__right_side1{
    
}