body{
// height: 100%vh;
// width: 100%vw;
margin: 0;
}

.card{
height: 50%;
width: 50%;
    &__card_img{
        height: 50%;
        width: 100%;
    }

    h4{
        background-color: rgb(115, 115, 230);
        border: solid 2px rgb(149, 35, 6);
    }

    p{
    background-color: aqua;
    border: solid 2px green;
    }
}