body{
    margin:0%
   
}

.header{
    width: 100%;
    height: 50px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin: auto;

    &__logo{
        width: 100px;
        height: 35px;
        display: flex;
        justify-content: space-between;

        &__bbc{
          width: 70px;
          height: 100%;
          display: flex;
          justify-content: space-between;
        }

        &__bbc h3{
           background-color: white;
            margin: 0;
            margin-top: 10px;
            font-size:x-large;
        }
    }

    &__sign_in{
        width: 120px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        

        &__icon img{
            height: 100%;
            width: 100%;
        }

        &__button{
            height: 40px;
            width: 70px;
            
        }

        &__button h3{
            color: white;
            margin-top: 10px;
            font-size:smaller;
        }
    }

    &__menu{
        width: 500px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 4px;
    }

    &__menu h3{
        color: white;
        font-size: small;
    }

    &__rigth{
        width: 100px;
        height: 50px;
        display: flex;
        justify-content: space-between;

        &__dots{
            width: 30px;
            height: 30px;
            margin-top: 10px;
            
        }

        &__dots img{
            height: 100%;
            width: 100%;
           
        }

         &__search{
           height: 50px;
           width: 50px;
           padding-top: 15px;
    }
    }
}

.title{
    width: 85%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content:space-between;
    margin: auto;
    
    
    &__welcome{
        width: 300px;
        margin-left: 120px;
        
    }

    &__welcome h2{
        color: rgb(73, 72, 72);
    }

    &__date{
        color: rgb(183, 181, 181);
        margin-right: 0;
        width: 300px;
    }
}


.grid_container{
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'item1 item1 item2 item3'
    'item1 item1 item4 item5';
    width: 1000px;
    height: 200px;


        &__item1{
            grid-area: item1;
            position: relative;
            text-align: center;
            color: white;
            
                &__centered1{
                    position: absolute;
                    top: 65%;
                    left: 35%;
                    transform: translate(-50%, -50%);
                }

                &__centered1 h4{
                    font-size: x-large;
                }
                
        }
        &__item1 img{
            width: 100%;
            height: 100%;
        }  

        &__item2{
            grid-area: item2;
            position: relative;
            text-align: center;
            color: white;

            &__centered2{
                position: absolute;
                top: 65%;
                left: 35%;
                transform: translate(-50%, -50%);
                
            }
           
        }

        &__item2 img{
            width: 100%;
            height: 100%;
        }

        &__item3{
            grid-area: item3;
            position: relative;
            text-align: center;
            color: white;

            &__centered3{
                position: absolute;
                top: 55%;
                left: 35%;
                transform: translate(-50%, -50%);
            }
        }
        &__item3 img{
            width: 100%;
            height: 100%;
        }

        &__item4{
            grid-area: item4;
            position: relative;
            text-align: center;
            color: white;

            &__centered4{
                position: absolute;
                top: 55%;
                left: 35%;
                transform: translate(-50%, -50%);
            }
        }

        &__item4 img{
            width: 100%;
            height: 100%;
        }

        &__item5{
            grid-area: item5;
            position: relative;
            text-align: center;
            color: white;

            &__centered5{
                position: absolute;
                top: 65%;
                left: 35%;
                transform: translate(-50%, -50%);
            }
        }

        &__item5 img{
            width: 100%;
            height: 100%;
        }
}


.title2{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content:space-between;
            
            
        &__news h2{
            color: rgb(73, 72, 72);
            padding-left: 200px;
            }

}

.grid_container2{
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'item1 item2 item3';
    width: 820px;
    height: 340px;


        &__item1{
            grid-area: item1;
        }

        &__item1 img{
            width: 100%;
            height: 50%;
        }

        &__item2{
            grid-area: item2;
        }

        &__item2 img{
            width: 100%;
            height: 50%;
        }

        &__item3{
            grid-area: item3;
        }
        &__item3 img{
            width: 100%;
            height: 50%;
        }

}

.grid_container3{
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'item1 item2 item3';
    width: 820px;
    height: 340px;


        &__item1{
            grid-area: item1;
        }

        &__item1 img{
            width: 100%;
            height: 50%;
        }

        &__item2{
            grid-area: item2;
        }

        &__item2 img{
            width: 100%;
            height: 50%;
        }

        &__item3{
            grid-area: item3;
        }
        
        &__item3 img{
            width: 100%;
            height: 50%;
        }

}







       
        
  