body {
  margin: 0%;
  height: 3000px;
  width: auto;
  overflow-x: auto;
}
.wrapper {
  overflow-x: auto;
  margin-left: 50px;
  margin-right: 50px;

  &__bar {
    background-color: black;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    position: relative;
    list-style-type: none;
    font-size: 13px;
    font-weight: 700;
    justify-content: flex-start;

    &__icons {
      width: 100%;
      height: 50px;
      display: flex;
      color: white;
      font-size: 20px;
      margin-top: 15px;
      overflow-x: auto;

      img {
        width: 60px;
        height: 30px;
        margin-left: 20px;
      }
    }
  }
  .search {
    background-color: black;
    width: 50pxpx;
    height: 150pxpx;
    color: rgb(244, 250, 250);
  }
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}
.img_search {
  width: 20px;
  height: 20px;
  margin-top: 18px;
  margin-right: 10px;
}
.welcome {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  margin-bottom: -150px;
  margin-top: 150px;
  h2 {
    color: darkgray;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
  padding: 10px;
  margin-top: 15px;
}

.grid-container > div {
  padding: 20px;
}
.item1 {
  grid-area: 1/1/5/3;
  border: 1px solid rgb(12, 12, 12);
  background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/3555/production/_127735631_workbuilding.png.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  h1 {
    color: black;
    position: absolute;
    margin-top: 290px;
    font-size: 20px;
    font-weight: bolder;
    font-weight: bold;
    font-style: italic;
    text-align: start;
    bottom: 15%;
    background-color: rgb(168, 238, 215);
  }
  p {
    font-size: 15px;
    position: absolute;
    color: rgb(0, 0, 0);
    bottom: 2%;
    background-color: aquamarine;
  }
}
.item2 {
  grid-area: 1/3/3/5;
  border: 1px solid black;
  background-image: url(https://ichef.bbci.co.uk/live-experience/cps/624/cpsprodpb/vivo/live/images/2022/11/22/a648fbb4-d9f7-41fd-8213-f6d6186bafe2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  h1 {
    font-size: 20px;
    position: absolute;
    bottom: 2%;
  }
}
.item3 {
  grid-area: 3/3/5/5;
  border: 1px solid black;
  background-image: url(https://ichef.bbci.co.uk/onesport/cps/976/cpsprodpb/150EE/production/_127745268_tv080112965.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  span {
    font-size: 2rem;
    position: absolute;
    color: black;
    bottom: 2%;
    right: 2%;
  }
}
.grid_container_2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 10px;
  margin-top: 15px;
  height: 500px;
}
.grid_container_2 > div {
  padding: 20px;
  font-size: 30px;
}
.item11 {
  grid-area: 1/1/4/2;
  border: 1px solid black;
  background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/B86E/production/_127741274_1c3ac92f17c5f7c336c1b4e049ac851c4361da050_314_5080_28581000x563.jpg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.item22 {
  grid-area: 1/2/4/3;
  border: 1px solid black;
  background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/11751/production/_127750517_china_iphone_factory.jpg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.item33 {
  grid-area: 1/3/4/4;
  border: 1px solid black;
  background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/061D/production/_127756510_mediaitem127756506.jpg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.item44 {
  grid-area: 4/1/5/2;
  // border: 1px solid black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  span {
    padding-right: 15%;
  }
  p {
    font-size: 15px;
    border-left: 3px solid red;
    padding-right: 15%;
  }
}
.item55 {
  grid-area: 4/2/5/3;
  // border: 1px solid black;
  span {
    padding-right: 15%;
  }
  p {
    font-size: 15px;
    border-left: 3px solid rgb(0, 255, 0);
    padding-right: 15%;
  }
}
.item66 {
  grid-area: 4/3/5/4;
  // border: 1px solid black;
  span {
    padding-right: 15%;
  }
  p {
    font-size: 15px;
    border-left: 3px solid rgb(210, 247, 2);
    padding-right: 15%;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  margin-top: 150px;
  height: 700px;
}

.grid-container > div {
  padding: 20px;
  font-size: 30px;
}
.item111 {
  grid-area: 1/1/2/1.99;
  border: 1px solid black;
  background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/388B/production/_127757441_gettyimages-1417089283.jpg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  h1 {
    color: white;
  }
}
.item222 {
  grid-area: 1/2/9/3.5;
  border: 1px solid black;
  background-image: url(https://ichef.bbci.co.uk/live-experience/cps/624/cpsprodpb/vivo/live/images/2022/11/23/fbf0a1b4-ddbf-4adf-b3ca-e24034495f9e.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.item333 {
  grid-area: 1/3/2/5;
  border: 1px solid black;
  background-image: url(https://ichef.bbci.co.uk/onesport/cps/976/cpsprodpb/6707/production/_127757362_whatsubject.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-right: 25%;
}
.item444 {
  grid-area: 2/1/3/2;
  // border: 1px solid black;
  font-size: 1rem;
  width: 250px;
  span {
    padding-right: 35%;
    font-size: 20px;
  }
  p {
    font-size: 15px;
    border-left: 3px solid red;
    margin-right: 15%;
  }
}
.item555 {
  // border: 1px solid black;
  font-size: 1rem;
  width: 250px;
  span {
    font-size: 20px;
  }
  p {
    font-size: 15px;
    border-left: 3px solid rgb(182, 230, 10);
    margin-right: 15%;
  }
}
.item666 {
  grid-area: 2/3/3/5;
  height: 15rem;
  width: 150px;
  margin-bottom: -29%;
  span {
    width: 50px;
    font-size: 20px;
  }
  p {
    font-size: 15px;
    border-left: 3px solid rgb(8, 209, 245);
    width: 450px;
  }
}
.news {
  font-size: 5rem;
  padding-top: 80px;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}
.sport {
  font-size: 5rem;
  padding-top: 150px;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  margin-bottom: -150px;
}
#idcta-username {
  color: white;
  cursor: pointer;
}
#white {
  color: white;
  cursor: pointer;
}
.weather {
  width: 1500px;
}
