.about-me {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
}

.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
  animation: rainbow 5s linear infinite; /* Add animation to the heading */
}

.details {
  color: #666;
  font-size: 16px;
}

.highlight {
  animation: rainbow 5s linear infinite; /* Add animation to the heading */
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project-container {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 250px;
}
.selected-project{
    align-items: center;
    justify-content: center;
}
.project-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.project-link:visited {
  color: inherit;
}
.project-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

// h1 {
//   color: #333;
//   font-size: 20px;
//   margin-bottom: 10px;
//   animation: rainbow 5s linear infinite; /* Add animation to the heading */
// }

@keyframes rainbow {
  0% {
    color: red;
  }
  14% {
    color: orange;
  }
  28% {
    color: yellow;
  }
  42% {
    color: green;
  }
  57% {
    color: blue;
  }
  71% {
    color: indigo;
  }
  85% {
    color: violet;
  }
  100% {
    color: red;
  }
}
