h1{
    margin:0 auto;
    width: 20%;
}
.img{
    border: grey solid 1px;
    width: 150px;
    height: 200px;
    background-color: white ;

    img{
        padding-top: 5px;
        width: 145px;
        height: 140px;
    }
}