h1{
    margin:0 auto;
    width: 10%;
}
.img{
    border: grey solid 1px;
    width: 160px;
    height: 210px;
    background-color: white ;
    margin: 10px auto;

    img{
        padding: 7.5px;
        padding-bottom: 0;
        width: 145px;
        height: 140px;
    }
}