*{
    margin: 0;
    padding: 0;

}

body{
    font-family: georgia;
    background-color: rgb(86, 111, 84);
    
}
h1, h2 {
    text-align: center;
    color: rgb(2, 43, 21);
}

.container{
    margin: auto;
    width: 400px;
    height: 450px;
    font-size: 20px;
    color: rgb(19, 31, 23);
    border: 2px solid black;
    // background-color: #111;
    form{
        margin-left: 10px;
        margin: auto;
        
    }
    label{
        display: inline-block;
        width: 100px;
        text-align: left;
    }

    input{
        text-align: left;
        border: 3px solid rgb(167, 158, 158);
        height: 30px;
        display: table-cell;
        width: 60%;
        margin: 10px 0px;
    }
    #pass{
        background-image: url(https://cdn-icons-png.flaticon.com/128/2767/2767146.png);
        background-position: right;
        background-size: 20px;
        background-repeat: no-repeat;
    }
    #colorDiv{
        margin: 10px;
    }
    ץ    .color{
        width: 30px;
    }
    #image{
        display: inline-block;
        width: 200px;
    
    }

    button{
        text-align: center;
        align-items: center;
        height: 50px;
        width: 110px;
        background-color: rgb(8, 72, 42);
        color: white;
        font-size: 30px;
        margin-left: 40%;
    }
    
  
}

.detail{
    right: 0;
    margin-left: 10px;
}
.userDiv{
    display: flex;
    margin-top: 20px;
    color: rgb(158, 182, 166);
    font-size: 30px;
    margin-left: 750px;
    
}
.creatDiv{
    font-size: 30px;
    text-align: center;
}