:root {
  --subtitle-color: #757587;
  --light-blue:#82d1ef ;
  --dark-black: #171717;
  --dark-blue:#1b5ece;
  --white: #ffffff;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body, html {
  width: 100vw;
  height: 100vh;
}

section.game-container {
  background-image: url("./images/background.png");
  width: inherit;
  height: inherit;
}