@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
body {
  background-color: rgb(0, 0, 0);
}

.login {
  position: absolute;
  left: 25%;
  top: 10%;
  font-size: 60px;
  text-align: center;
  color: rgb(243, 3, 3);
  font-family: "Lilita One", cursive;
}

.container {
  position: relative;
  margin: auto;
  margin-top: 15vh;
  background-color: rgb(252, 249, 216);
  width: 380px;
  height: 420px;
  border-radius: 20px;
  box-shadow: 5px 10px 20px 5px rgb(151, 151, 151);
}
.container__input {
  position: relative;
  height: 30%;
}

label {
  margin-left: 10%;
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

input {
  margin-left: 10%;
  color: black;
  font-weight: bold;
  font-size: larger;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 5px 10px rgb(254, 254, 254);
}

button {
  background-color: rgb(113, 182, 9);
  font-size: larger;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 40%;
}

button:hover {
  background-color: rgb(66, 109, 2);
}

span {
  position: relative;
  left: 45px;
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}