h1 {
    color: red;
}
p {
    font-weight: 900;
}

h2 {
    color: blue;
}
/* span {
    color: rgb(80, 217, 255);
} */
.bold-italic-light-blue {
    color: aqua;
    font-weight: 900;
    font-style: italic;
}

.yellow-bold {
    color: yellow;
    font-weight: 900;
    background-color: black;
}

.italic {
    font-style: italic;
}

.red {
    color: red;
}

#gili {
   font-size: 5rem; 
}
