body {
  margin: 0%;
}

.baloon {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 800px;
  height: 600px;
  border: 3px solid black;
}

img {
  width: 40px;
  position: relative;
  margin-top: 550px;
  animation-name: float;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/*.pink{
 margin-top: 550px;
 animation-name: float;
animation-duration: 3s;
animation-fill-mode: both;
animation-iteration-count: infinite;
animation-timing-function: linear;

}*/
.pink {
  animation-timing-function: cubic-bezier(0.41, 0.19, 0, 0.58);
  animation-duration: 8;
}

.lightblue {
  animation-timing-function: ease-in;
  animation-duration: 1;
}

.green {
  animation-timing-function: ease-in-out;
  animation-duration: 1;
}

.golden {
  animation-timing-function: cubic-bezier(0.18, 0.34, 0.29, 0.87);
  animation-duration: 2;
}

.black {
  animation-timing-function: cubic-bezier(0.13, 0.88, 0.29, 1.03);
  animation-duration: 1;
}

.rubi {
  animation-timing-function: ease-in;
  animation-duration: 5;
}

.purple {
  animation-timing-function: ease-in;
  animation-duration: 5;
}

.turkiz {
  animation-timing-function: ease-in;
  animation-duration: 9;
}

@keyframes float {
  from {
    bottom: 0px;
  }
  to {
    bottom: 600px;
  }
}