.balloon{
    --balloonDimension: 20vmax;
    width: var(--balloonDimension);
    height: var(--balloonDimension);
    border-radius: 100% 100% 15% 100%;
    margin: 0 0 0 25px;
    transform: rotateZ(45deg);
    position: fixed;
    bottom: calc(-1 * var(--balloonDimension));
    left: 0%;
    background-color: red;
}
.balloon::before{
content: "";
width: 10%;
height: 25%;
background: radial-gradient(circle, rgba(255,255,255,.7) 0%, rgba(255,255,255,.1)100%);
position: absolute;
left: 15%;
top: 45%;
border-radius: 100%	;
}
.balloon::after{
    content:"";
    width: 13%;
    height: 5%;
    background-color: inherit;
    position: absolute;
    left: 92%;
    top: 94%;
    border-radius: 22%;
    transform: rotateZ(-45deg);
}
.balloon .string{
    position:absolute;
    background-color: black;
    width: 2px;
    height: 100px;
    transform-origin: top center;
    transform: rotateZ(-45deg);
    top: 130px;
    left: 130px;
    }
    .yellow{
        background-color: yellow;
    }
    .green{
        background-color: rgba(0, 150, 0, .45);
    }
    .blue{
        background-color: rgba(0, 0, 150, .45);
    }
    .gold{
        background-color: rgba(#cda91b);
    }