body {
  margin: 0;
}

.wrapper {
  width: 90vw;
  height: 100vh;
}
.wrapper__header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  color: gray;
  border: 0.25rem solid black;
  width: 35em;
}
.wrapper__header__welcome {
  font-weight: 900;
  width: 1em;
}
.wrapper__header__date {
  font-weight: 500;
  width: 1em;
}