.balloon-container {
  animation: balloonAnimation linear;
  animation-duration: 2s;
  bottom: -30%;
  position: absolute;
  cursor: pointer;
  overflow: hidden;
  width: 200px;
  background-color: unset;
}
.balloon-container__balloon {
  width: inherit;
  -o-object-fit: contain;
     object-fit: contain;
}

@keyframes balloonAnimation {
  from {
    bottom: -20%;
  }
  to {
    bottom: 100%;
  }
}