:root {
    // COLORS 
    --main-background: #fff;
    --banner-Navbar: #b80000;
    --adds-color: #e9d3d3;
    --main-color: #222222;
    --main-subtitle-color: #b83232;


}

//  RESET
* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}


// MAIN
body,
html {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--main-color);

}

.admin-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;

    position: absolute;
    top: 0;
    left: 0;

    &.active {
        display: flex;
    }

    &__updateBTN,
    &__removeBTN {
        color: #ffffff;
        font-size: 1.6rem;
        cursor: pointer;
        padding: 16px;
        background-color: inherit;
        border: none;

        &:hover {
            color: #dd9208;
            scale: 1.1;
        }
    }


}

// ID
#addNewArticle {
    display: none;
    border-radius: 0 0 100% 100%;
    text-align: center;
    position: absolute;
    top: 75px;
    padding: 25px;
    background: linear-gradient(45deg, rgba(214, 203, 203, 0.418), rgb(49, 167, 235));
    left: 0px;
    width: 100vw;

    &.active {
        display: block;
    }

    form {

        overflow: hidden;
        border-radius: 25px;
        margin: auto;
        width: 50%;
        display: flex;
        flex-direction: column;

        input,
        button {

            border: none;
            border-bottom: 1px solid black;
            font-size: 1.4rem;
            outline: none;
            padding: 10px 21px;
        }

        button {
            cursor: pointer;
            border: none;
        }
    }

}

#searchForm {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.226);
    width: 100vw;
    height: 70px;

    &.active {
        visibility: visible;
    }

    input,
    button {
        height: 50px;
        padding: 15px;
        border: none;
        outline: none;

    }

    input {
        border-radius: 15px 0 0 15px;
        width: 80%;
        font-size: 1.5rem;
    }

    button {
        border-radius: 0 15px 15px 0;
        cursor: pointer;
    }
}

// WEB container
.main-section {

    background-color: var(--main-background);
    width: 100vh;


    &__header {

        width: 100vw;


        &__nav-top {
            padding: 0 10px;
            width: inherit;
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;

            &__logo {
                img {
                    object-fit: cover;
                    margin-top: 5px;
                    margin-left: 10px;
                    width: 100px;
                    height: 60px;
                }

                span {
                    font-size: 0.1em;
                }

            }

            &__login {
                display: flex;
                justify-content: space-around;
                align-items: center;
                text-align: center;
                cursor: pointer;
                font-size: 1.5rem;
                margin: 0 20px;

                button {
                    background-color: inherit;
                    border: none;
                    margin-left: 15px;
                    outline: none;
                    cursor: pointer;

                    .fa-person-walking-arrow-right {
                        font-size: 2rem;

                        &:hover {
                            scale: 1.08;
                        }
                    }
                }
            }


            &__navbar {
                max-width: 900px;
                border-left: 1px solid black;
                padding: 0 20px;
                display: flex;

                justify-content: space-between;
                width: 100%;

                &__list {
                    font-size: 1.1rem;
                    margin: 0 5px;
                    display: flex;

                    i {
                        font-size: 1.1rem;
                    }
                }

                &__link {
                    position: relative;
                    text-transform: capitalize;
                    color: var(--main-color);


                    &::after {
                        position: absolute;
                        content: '';
                        background-color: black;
                        bottom: -5px;
                        left: 0;
                        width: 0%;
                        height: 1px;
                        transition: all 0.2s ease-in;

                    }

                    &:hover::after {
                        width: 100%;


                    }



                }
            }



        }


    }

    &__main {
        width: 100vw;

        &__banner {

            box-shadow: 0 0 30px rgba(0, 0, 0, 0.719),
                0 0 30px inset rgba(0, 0, 0, 0.473);

            overflow: hidden;
            border-radius: 50%;
            margin: 30px auto;
            width: 350px;
            height: 200px;

            background-color: rgba(0, 0, 0, 0.747);

            img {
                border-top: 2px solid black;
                border-bottom: 2px solid black;
                object-fit: cover;
                width: 100%;
                height: 200px;
            }
        }

        &__container-new-news {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.39));

            &__article {
                position: relative;
                overflow-y: scroll;
                cursor: pointer;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                display: none;
                align-items: center;
                text-align: center;
                flex-direction: column;
                justify-content: end;
                padding: 16px;
                margin: 20px;
                border-radius: 15px;
                width: 450px;
                height: 300px;
                transition: scale 0.3s ease;

                &::-webkit-scrollbar {
                    width: 0;
                }

                &:hover {
                    scale: 1.05;
                }

                &.active {
                    display: flex;
                }

                &__title {
                    color: var(--main-background);
                }
    
                &__subtitle {
                    color: var(--adds-color)
                }

                &.onClick {
                    z-index: 999;
                    background-size:auto;
                    animation: showed 1s;
                    width: 80vw;
                    height: 80vh;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    .main-section__main__container-new-news__article__title , .main-section__main__container-new-news__article__subtitle{
width: 75%;
                    }
          
                
            }


        }



    }
}

}




// MEdia Query

@media screen and (max-width:1200px) {
    #navToploginSpan {
        display: none;
    }

}

@keyframes showed {
    0% {
        opacity: 0;
        width: 450px;
        height: 300px;
    } 

    100%{
opacity: 1;
        width: 80vw;
        height: 80vh;
    }
}