.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 75ch;
  margin: auto;

  .box{
    margin-top: 90%;
    margin-left: 50%;
    height: 300px;
    width: 250px;
    border: 3px solid black;
    border-radius: 100% 100% 0% 0%;
    box-shadow: 10px 10px 15px;
    background-color: rgb(242, 37, 37);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: all 0.5s;
    }
}
