// MAIN 
:root {
    --mousePointer : url("../../images/mouseIcon/altlink.cur") , pointer;
  }
  

.navBar{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;


    .rightNavIconsContainer{
        justify-content: flex-end;
    }

    .leftNavIconsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navIconsContainer{
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;


        .navIcon{
            position: relative;
            width: 180px;
            height: 60px;
            padding:  10px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 10px;
   
            cursor: var(--mousePointer);

            img {
                width: 150px;

            }

            h1 {
    
                pointer-events: none;
                bottom: 14px;
                font-size: 1.1rem;
                text-align: center;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
            }
        }

        .scoreboardBtnContainer{
            display: none;
        }
    }
}

.navIcon:hover {
    scale: 1.1;
  }
  .navIcon:active {
    scale: 0.98;
  }