.body {
    margin: 0%;
}

@keyframes first_animation {
    from {background-color: blue;}
    to {background-color: red;}

}

.circle {
   background-color: blue;
   border-radius: 100px; 
   width: 100px;
   height: 100px;
   animation-name:bounce;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   position: relative;
}

@keyframes bounce {
         

        0% {
            left: 100px;
            
        }

        50% {
            left: 100px;
        }
    
}

