.mole{
    z-index: -1;
    position: relative;
    left: 15%;
    width: 20vw;
    height: 10vh;
    // background-image: url("https://www.clipartmax.com/png/full/181-1815733_mole-clipart-earthbound-cartoon-mole-transparent-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 0.5rem;
    &:hover{cursor:pointer}
  }