.grid-container{
    display: grid;
    grid-template-columns: repeat(7, 10rem);
    grid-auto-rows: minmax(500px,auto);
    grid-gap: 10px;
    justify-content: center;
    margin-left: 15%;
    
}
.grid-item-1:hover{
    box-shadow: 0 0 100px rgb(97, 90, 136);
}
.grid-item-2:hover{
    box-shadow: 0 0 100px rgb(97, 90, 136);
}
.grid-item-3:hover{
    box-shadow: 0 0 100px rgb(97, 90, 136);
}
.grid-item-1{
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 4; 
}
.grid-item-1 img{
    width: 49%;
    height: 100%;
    float: right;
    border: 2px solid black;
    border-bottom: 4px solid black;
}
.bottom{
    
    position: relative;
    height: 50%;
}
#box{
    background-color: rgb(0, 0, 0);
    border: 5px double red;
    color: beige;
    position: absolute;
    bottom: 0;
    right: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}
.header{
    margin-top: 0;
    font-family: fantasy;
    font-style: italic;
    background-color:rgb(145, 216, 254);
    
}
#winter{
    color: blue;
}
p{
    font-family: 'Yeseva One', cursive;
}

.grid-item-2{
    border: 1px solid black;
    grid-column-start: 4;
    grid-column-end: 7;
    
       
}
.grid-item-2 img{
    width: 100%;
    height: 50%;
    border-bottom: 5px solid black;
    
    
}
span{
    color: rgba(115, 10, 10, 0.7);
}
.grid-item-3{
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 6;
    
}
.grid-item-3 img{
    width: 49%;
    height: 99%;
    float: right;
    border: 2px solid black;
    border-bottom: 4px solid black;
}
