body {
    background-color: beige ;
}
.red {
    color:red;
    
}
.span{
    color: white;
}

.italic {
    font-style: italic;
}

h1{
    color: white;
    font-size: 1cm;
    width: 400px;
    height: 30px;

    bottom: 1.5cm;

}

p{
    font-size: 0.6cm;
    color: white;
    bottom: 2cm;
}
img {
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  a{
    background-color: black;
    display: block;
    font-size: larger;
    color: white;
    
  }
 .wrapper {
    height: 500px;
    width: 500px;
    border: 3px solid black;
    margin: 0 auto;
    background-color: black;

 }
 .wrapper img{
    width: 100%;
    height: 292px;
 }
