*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --baseShade1: #54cc85;
    --baseShade2: #479264;
    --whiteShade1: #ffffff;
    --whiteShade2: #f8fafb;
    --blackShade1: #231c3d;
    --blackShade2: #575a7b;
    --blackShade3: #999;
    --baseFontSize1: 1.6rem;
    --baseFontSize2: 1.2rem;
    --headingFontSize1: 4rem;
    --headingFontSize2: 3.2rem;
    --headingFontSize3: 2rem;
    --headingFontSize4: 1.8rem;
    --borderRadius1: 1rem;
    --borderRadius2: 0.5rem;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0.2rem;

    .img{
        display: flex;
        justify-content: flex-end;
        align-items: center;


        img{
            width: 500px;
        }
    }

    .login-container{
        display: flex;
        align-items: center;
        text-align: center;

        form{
            width: 360px;

            .avatar{
                width: 100px;
            }

            h2{
                font-size: var(--headingFontSize2);
                margin: 15px 0;
                color: var(--blackShade1);
            }

            .input-div{
                position: relative;
                display: grid;
                grid-template-columns: 7% 93%;
                margin: 25px 0;
                padding: 5px 0;
                border-bottom: 2px solid #d9d9d9;

                .i{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    i{
                        font-size: var(--baseFontSize1);
                        color: var(--blackShade3);
                    }
                }

                div{
                    position: relative;
                    height: 45px;

                    h5{
                        position: absolute;
                        left: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        color: var(--blackShade3);
                        font-size: var(--baseFontSize1);
                        transition: all 0.3s ease;
                    }

                    input{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        border: none;
                        outline: none;
                        background: none;
                        padding: 0.5rem 0.7rem;
                        font-size: var(--baseFontSize1);
                        color: var(--blackShade2);

                    }
                }
            }

            .input-div::before, .input-div::after{
                content: '';
                position: absolute;
                bottom: -2px;
                width: 0%;
                height: 2px;
                background-color: var(--baseShade1);
                transition: all 0.4s ease;
            }

            .input-div::before{
                right: 50%;
            }

            .input-div::after{
                left: 50%;
            }

            .input-div.focus::before, .input-div.focus::after{
                width: 50%;
            }

            .input-div.focus{
                div{
                    h5{
                        top: -5px;
                        font-size: 15px;
                    }
                }
            }

            a{
                display: block;
                text-align: right;
                text-decoration: none;
                color: var(--blackShade2);
                font-size: var(--baseFontSize2);
                transition: all 0.3s ease;

                &:hover{
                    color: var(--baseShade1);
                }
            }

            .btn{
                display: block;
                width: 100%;
                height: 50px;
                border-radius: var(--borderRadius2);
                margin: 1rem 0;
                font-size: var(--baseFontSize1);
                outline: none;
                border: none;
                background-color: var(--baseShade1);
                cursor: pointer;
                color: var(--whiteShade1);
                transition: all 0.5s ease;

                &:hover{
                    background-color: var(--baseShade2);
                }
            }
        }
    }
}

