#mainTimelineTitle{
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 20px;
}

#dot{
    background:rgb(255, 73, 112);
    width: 20px;
    height: 20px;
    border: 5px solid #eee;
    border-radius: 50%;
}

#dotContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
