*{
    margin: 0;
    padding: 0;

}

body{
    font-family: georgia;
    background-color: azure;
    
}
h1, h2 {
    text-align: center;
    color: blue;
}


.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 80px;
    overflow-x: hidden;
    padding-top: 10px;
}

.container{
    font-size: 20px;
    color: blue;
    left: 0;
    border: 2px solid blue;
    // background-color: #111;
    form{
        margin-left: 10px;
        
    }
    label{
        display: inline-block;
        width: 120px;
        text-align: left;
    }

    input{
        text-align: left;
        border: 3px solid rgb(167, 158, 158);
        height: 30px;
        display: table-cell;
        width: 60%;
        margin: 10px 0px;
    }
    .pass{
        background-image: url(https://cdn-icons-png.flaticon.com/128/2767/2767146.png);
        background-position: right;
        background-size: 20px;
        background-repeat: no-repeat;
    }
    .colorDiv{
        margin: 10px;
    }
    ×¥    .color{
        width: 30px;
    }
    .image{
        display: inline-block;
        width: 200px;
    
    }

    button{
        text-align: center;
        align-items: center;
        height: 50px;
        width: 110px;
        background-color: blue;
        color: white;
        font-size: 30px;
        margin-left: 40%;
    }
    
  
}

.detail{
    right: 0;
    border: 2px solid blue;
}
