.content{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
margin-bottom: 20%;
padding: 10%;
gap: 100px;
color: rgb(142, 165, 42);
background-color: rgba(0, 0, 0, 0.644);
// height: 350px;
width: 1150px;
margin-left: 20%;
}