html {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #b3dced 0%,#29b8e5 50%,#bce0ee 100%);
}

.ballsContainer{
    position: relative;
    width: 100%;
    height: 100%;

    .ball {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: black;
        font-size: 20px;
        text-align: center;

    }
}


