#myFirstDOM {
  height: 100px;
  width: 100px;
  background-color: aqua;
}
#myFirstDOM img {
  width: 100%;
}

.myFirstDOM {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 0, 149);
  display: flex img;
  display-width: 100%;
}