
.box{
    width: 100px;
    height: 100px;
    background-color:rgb(50, 28, 84);
    border: 2px solid black;
    margin: 10px  ;
    
}
#box1{
    margin: auto;
}
#box2{
    margin-left: 45%;
}
#box3{
    margin-left: 40%;
}
