body{
  background-color: black;
  margin: 0;
  position: relative;
}

.board{
    height: 30rem;
    width: 30rem;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
  &__line{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    &__cell{
      border: 0.1rem solid yellow;
      font-size: 3.5rem;
      text-align: center;
      vertical-align: middle;
      color: white;

    }
  } 
}

.keyboard{
  height: 30rem;
  width: 40rem;
  display: flex;
  gap: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  &__line{
    height: 5rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    grid-gap: 5px;
    &__key{
      height: 4.5rem;
      width: 4.5rem;
      font-size: 1rem;
      text-align: center;
      vertical-align: middle;
      color: white;
      background-color: gray;
      border-radius: 0.8rem;
    }
  } 
}
