.post {
  max-width: 500px;
  border: 1px solid black;
  margin-bottom: 45px;
  margin: 5%;

  &__image {
    width: 100%;
    object-fit: contain;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
  }

  &__text {
    font-weight: normal;
    color: gray;
    padding: 10px;
    &__strong {
      color: black;
      font: bold 11px arial;
      font-size: 1rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 10px;

    &__avatar {
      margin-right: 10px;
    }
  }
}
