#timelineCardContainer{
    margin: 20px;
    box-shadow: 0 10px 27px 3px rgba(116, 116, 116, 0.2);
    width: 360px;
    background-color: blanchedalmond;
}

#timelineTitle{
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 20px;
    color: rgb(255, 73, 112);
}


#timelineSub{
    font-size: 20px;
    color: rgb(92, 92, 92);
    margin-bottom: 10px;
}

#timelinePeriod{
    font-size: 20px;
    color: rgb(92, 92, 92);
    padding-bottom: 20px;
}

.cardContainer{
    display: flex;
    justify-content: center;
}