.wrapper {
    position: relative;
    border: 2px solid black;
    height: 80vh;
    overflow-y:hidden;
    background-image: url(https://i.ytimg.com/vi/TANJP041TKE/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
  }
  h1{
    color: blue;
    text-align: center;
  }
  h3{
    color: red;
    text-align: center;
  }
  span{
    color: green;
  }
  h4{
    text-align: center;
  }
  
  @keyframes floatUp {
    0% {
      top: 1000px;
    }
    100% {
      top: -1000px;
    }
  }
  