body {
    margin: 0%;
    // font-family: sans-serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background-image: url(img/14.jpg.jpg);
    background-image: url(img/1.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    // direction: rtl;

}

.header {
    background-color: black;
    height: 70px;
    display: grid;
    align-content: space-evenly;
    align-items: center;
    align-items: stretch;

    .header__link {
        height: 30px;
        display: grid;
        align-content: space-evenly;
        margin: auto;
        align-items: center;
        align-items: stretch;
        background-color: pink;
        color: black;
        border-radius: 20px;
        padding: 10px 20px;
        border: none;
        font-size: 16px;
    }

    .header__link:active {
        background-color: black;
        
    }
}

.all__btn {
     margin-top: 150px;
    align-items: center;
    margin-inline: 650px;
    background-color: #4CAF50; 
    color: white;
    border-radius: 10px; 
    border: none;  
    padding: 20px 46px; 
    font-size: 16px;
    text-decoration: none; 
  }
  .all__btn:hover {
    background-color: #555555;  
    color: #FFFFFF; 
  }

h1 {
    // font-weight: bold;
    // font-family:sans-serif;
    margin-top: 90px;
    color: black;
    text-align: center;
}

h2 {
    margin-top: 30px;
    text-align: center;
}