.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.balloon {
  width: 200px;
  position: relative;
  animation: up 1s infinite alternate;
}

@keyframes up {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(30vh);
  }
}