.white {
    color: white;
    font-weight: bolder;
    text-align: right;
}

.wrapper {
  width: 540px;
  height: 40%;
  background-color: black;
  position: relative;
 border: 5px solid black(0, 14%, 96%);
margin: auto;

}
.wrapper img {
    width:100%;
}
.red{
    background-color: red; 
    font-size: smaller;
    position:absolute;
    top: 281px;
    right:0px;
    margin: 0%;
    /*bottom:0%
    /*position:auto;*/
}

.pdate {
    color: white;
    font-size: small;
    text-align: right;
}

h2{
   margin: 0;
   padding: 0;

}

