$primaryback:linear-gradient(120deg,#2980b9, #8e44ad);
$pickcolor:rgb(194, 42, 174);
$bluecolor:rgb(104, 151, 240);
$aquacolor:rgb(14, 245, 245);


.mesi{
color: $aquacolor;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;




}