body {
  font-weight: 300;
  font-size: 0.8rem;
}

hr {
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.bold {
  color: black;
  padding-right: 5px;
  font-weight: 600;
  text-transform: capitalize;
}

.container-post {
  width: 500px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.container-post__header {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 7px;
  width: 100%;
  min-height: 50px;
}
.container-post__header__profile-circle {
  width: 30px;
  height: 30px;
  background: linear-gradient(to right, #ffc014, rgba(255, 0, 212, 0.867));
  border: 1px solid rgb(161, 161, 161);
  border-radius: 50%;
  margin-right: 7px;
  overflow: hidden;
}
.container-post__header__profile-circle img {
  width: 100%;
}
.container-post__header #userName {
  margin-right: 8px;
  font-weight: 600;
  text-transform: capitalize;
}
.container-post__header #postDate {
  color: gray;
  margin-left: 5px;
}
.container-post__main {
  width: inherit;
}
.container-post__main img {
  width: inherit;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-post__footer {
  text-align: start;
  font-weight: 300;
  width: 100%;
  margin-top: -4px;
}
.container-post__footer__icons {
  padding-left: 5px;
  padding-top: 7px;
  display: flex;
  justify-content: start;
  gap: 7px;
  width: 100%;
  min-height: 30px;
  margin-bottom: 5px;
}
.container-post__footer__icons img {
  height: 15px;
  cursor: pointer;
  width: 15px;
  margin: 2px;
}
.container-post__footer__icons img:hover {
  scale: 1.02;
}
.container-post__footer__text {
  margin-top: 5px;
}