.container-linear{

    width: auto;
    -webkit-text-fill-color: transparent;
&__text{
    background:linear-gradient(to right , #ffc014 , rgba(255, 0, 212, 0.867));
    font-size: 40px;
width:fit-content;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
}