div {
  width: 100px;
  height: 100px;
  margin-top: 180px;
  transform-origin: 200% center;
  position: relative;
  -webkit-animation: rotate 3s linear infinite;
          animation: rotate 3s linear infinite;
}

div:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  background: rgb(124, 16, 16);
  animation: rotate 3s linear reverse infinite;
}

@-webkit-keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
body {
  background: rgb(20, 20, 20);
}