body {
  text-align: center;
  background-color: rgb(230, 224, 224);
}

h1 {
  margin-top: 20vh;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.form div {
  width: 177px;
  height: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px solid black;
}
.form div #input {
  border-radius: 0;
  outline: 0;
  width: 90%;
}
.form div img {
  width: 10%;
  cursor: pointer;
}