body {
  margin: 0;
}

.wrapper {
  height: 500px;
  width: 500px;
  background-color: antiquewhite;
}
.wrapper__box {
  height: 50px;
  width: 50px;
  background-color: purple;
  border: 1px solid black;
}
.wrapper__box__header {
  color: aqua;
}