#pageContainer {
    font-family: 'Nunito', sans-serif;
    font-family: 'Quicksand', sans-serif;
    width: 500px;
   
    background-color: rgb(198, 199, 207);
}

#mainHeader {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    
}

#mainImg{
    width: 100%;
}

#subHeader{
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 15px;
}

#headerWrapper{
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 25px;
}

#articleLink{
    padding-top: 20px;
    text-decoration: none;
    color: black;
}
