body {
  margin: 0;
}

table {
  border-collapse: collapse;
  margin: 100px auto;
  border: 1px solid black;
}

td, th {
  padding: 20px;
  text-align: center;
  border: none;
}

th {
  font-size: 2rem;
  background-color: rgb(161, 168, 170);
}

tr:nth-child(3n) {
  color: rgb(66, 12, 165);
  font-size: 1.5rem;
}

td:nth-child(even) {
  background-color: red;
}

td:nth-child(4) {
  background-color: aqua;
}