.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 75ch;
  margin: auto;

  .box, .box2 {
    height: 300px;
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transition: all 1s;
  }
  .box2{
   
    background-color: rgb(25, 87, 87);
  }
}
