body {
    margin: 0%;
}

.wrapper {
    width: auto;
    height: 255vh;
    background-color: antiquewhite;


    &__head {
        margin-top: -15px;
        width: 100%;
        height: 90px;
        background-color: rgb(0, 8, 255);
        padding: 0%;
        font-size: 4rem;
        text-align: center;
        position: fixed;

        .outin {
            width: 250px;
            height: 250px;
            display: inline;
            background-color: rgb(213, 241, 5);
            border: px1;
            animation-name: pop-outin;
            animation: 2s anim-popoutin ease infinite;
        }
    }


    @keyframes anim-popoutin {
        0% {
            color: black;
            transform: scale(0);
            opacity: 0;
            text-shadow: 0 0 0 rgba(0, 0, 0, 0);
        }

        25% {
            color: red;
            transform: scale(2);
            opacity: 1;
            text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
        }

        50% {
            color: black;
            transform: scale(1);
            opacity: 1;
            text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
        }

        100% {
            transform: scale(1);
            opacity: 1;
            text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
        }
    }

    &__container {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        padding-top: 150px;
        gap: 5px;



        .Black_Adam-img {
            background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTNSOjcSmrXYIZ517jTKmCDxBwIJU4_ojFweUDLI1Dssn2UfTsx);
            width: 200px;
            height: 190px;
            border: 2px solid black;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            

        }
        .Spirited-img {
            background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTgMuW92w5HXqnmWuO4eGS6CpTKunPfQKSkoeojR-Ot2HSxY0yh);
            width: 200px;
            height: 190px;
            border: 2px solid black;
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }
        .Emancipation-img {
            background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS0oAkT3etqKxnnFmVkOdyg1KqhFovsdO7BZ7DkoV2SnAmvN8J9);
            width: 200px;
            height: 190px;
            border: 2px solid black;
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }
        .Nope-img {
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIgJp_ZoMufqDS17oo_fxOplO6W34XXM_LTpjQGyxAXEdxXwpH);
            width: 200px;
            height: 190px;
            border: 2px solid black;
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }
        .HHHHH-img {
            background-image: url();
            width: 200px;
            height: 190px;
            border: 2px solid black;
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }
        // .index{
        //     height: 5px;
        //     width: 5px;
        // }



    }





}

// @media only screen and (min-width: 600px) {
// .container

//   }
//   @media only screen and (min-width: 900px) {
//     width: 100%;
//   }