body {
  margin: 0;
  color: white;
}

.page {
  background-color: black;
  display: grid;
  grid-template-columns: 0.2fr 0.25fr 2fr;
  grid-template-rows: 1fr 50fr;
  gap: 5px;
  grid-template-areas: "monitor_bar monitor_bar monitor_bar" "user_bar menu_bar home_page" "user_bar menu_bar home_page";
}
.page__monitor_bar {
  grid-area: monitor_bar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.page__monitor_bar h4 {
  margin: 2px;
  color: lightgray;
}
.page__monitor_bar__page_service {
  margin-left: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.page__monitor_bar__page_service img {
  width: 10%;
  margin-left: 5%;
}
.page__user_bar {
  grid-area: user_bar;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.page__user_bar #logo {
  border-radius: 20%;
  width: 35%;
  margin-left: 2%;
}
.page__user_bar img {
  border-radius: 100%;
  width: 40%;
  margin-bottom: 5%;
}
.page__menu {
  grid-area: menu_bar;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgb(83, 83, 83);
}
.page__menu__search_bar {
  margin-left: 2%;
}
.page__menu__search_bar input {
  color: lightgray;
  background-color: black;
  border-radius: 10%;
}
.page__menu__services__srv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.page__menu__services__srv img {
  width: 20%;
  height: 10%;
}
.page__menu__services__srv h4 {
  margin: 0;
  padding: 3%;
}
.page__menu__direct_msg__msg {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 5%;
}
.page__menu__direct_msg__msg img {
  border-radius: 100%;
  width: 20%;
  height: 10%;
}
.page__menu__direct_msg__msg__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.page__menu__direct_msg__msg__description h5 {
  margin: 0;
}
.page__menu__usr_profile {
  position: absolute;
  bottom: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
}
.page__menu__usr_profile #__usr_info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.page__menu__usr_profile img {
  border-radius: 100%;
  height: 5%;
  width: 15%;
}
.page__home_page {
  grid-area: home_page;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1% 98%;
  gap: 2px;
  grid-template-areas: "home_page_menu home_page_menu" "live_stage activities";
  background-color: rgb(113, 112, 112);
}
.page__home_page__menu {
  grid-area: home_page_menu;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.page__home_page__menu__icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.page__home_page__menu__icon img {
  width: 100%;
  height: 15%;
}
.page__home_page__menu__icon h4 {
  margin: 0;
  padding: 15%;
}
.page__home_page__menu__services {
  display: flex;
  flex-direction: row;
  justify-content: start;
  position: absolute;
  left: 94%;
}
.page__home_page__menu__services img {
  border-radius: 100%;
  width: 25%;
  margin-right: 10%;
}
.page__home_page__live_stages {
  grid-area: live_stage;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-right: 1px solid black;
}
.page__home_page__live_stages__live_stage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(77, 77, 77);
  margin: 2%;
}
.page__home_page__live_stages__live_stage__server_info {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page__home_page__live_stages__live_stage__server_info img {
  padding: 2%;
  width: 20%;
  height: 70%;
  border-radius: 10%;
}
.page__home_page__live_stages__live_stage__server_info h4 {
  margin: 0;
  padding: 5%;
}
.page__home_page__live_stages__live_stage__server_info__usr_online {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 35%;
  border-radius: 20%;
}
.page__home_page__live_stages__live_stage__server_info__usr_online img {
  width: 50%;
  height: 20%;
  margin-right: 5px;
}
.page__home_page__live_stages__live_stage__server_info__usr_online h5 {
  margin: 0;
  margin-right: 5px;
  padding: 5%;
}
.page__home_page__live_stages__live_stage__usr_online {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2%;
}
.page__home_page__live_stages__live_stage__usr_online img {
  border-radius: 100%;
  width: 40%;
}
.page__home_page__live_stages__live_stage__usr_online h6 {
  margin: 0;
}
.page__home_page__activities {
  grid-area: activities;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.page__home_page__activities__activitie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(76, 76, 76);
  border-radius: 5%;
  margin: 2%;
}
.page__home_page__activities__activitie__usr_info {
  display: grid;
  grid-template-columns: 0.2fr 2fr;
  grid-template-rows: 1fr 2fr;
  gap: 2px;
  grid-template-areas: "usr_icon usr_name" "usr_icon usr_description";
}
.page__home_page__activities__activitie__usr_info img {
  grid-area: usr_icon;
  margin: 10%;
  width: 80%;
  border-radius: 100%;
}
.page__home_page__activities__activitie__usr_info h5 {
  grid-area: usr_name;
  margin: 0;
}
.page__home_page__activities__activitie__usr_info h6 {
  grid-area: usr_description;
  margin: 0;
}
.page__home_page__activities__activitie__server {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page__home_page__activities__activitie__server__name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.page__home_page__activities__activitie__server__name img {
  width: 40%;
  height: 40%;
  border-radius: 100%;
  margin: 5%;
}
.page__home_page__activities__activitie__server__users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}
.page__home_page__activities__activitie__server__users img {
  width: 50%;
  height: 30%;
  border-radius: 100%;
  margin-left: 5px;
}