.circle {
   background-color: purple; 
   border-radius: 100px;
   width: 100px;
   height: 100px;
   position: relative;

   animation-name: bounce;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   animation-iteration-count: infinite;
   animation-timing-function: ease-in-out;
}

@keyframes bounce {
    0%{
        background-color: aquamarine;
        top: 0px;
        right: 0px;
    }
    50%{
        background-color: rgb(241, 214, 62);
        top: 200px;
        right: -10px;
    }
    100% {
        background-color: rgb(223, 165, 213);
        top: 0px;
        right: -30px;
    }
}