.green{
    background-color: rgb(81, 196, 81);
}

.card{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.394);
    max-width: 300px;

    img{
        width: 100%;
    }
}