*{
    padding: 0;
    margin: 0;
}

.catchName{
  font-size: 20px;
  border: 2px solid black;
  color: black;
  text-shadow: 2px 2px white;
  
}
.container{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    text-shadow: 2px 2px white;
    align-items: center;
    justify-items: center;
    margin-left: 500px;
    margin-top: 5px;
}

.studentNameContainer{
    display: flex;
  }
  
  .studentName {
    flex: 1;
    width: 200px;
    height: 50px;
    background-color: lightblue;
    margin-right: 10px;
    text-align: center;
  }