* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #2980B9;
}

.snakeHeader {
  text-align: center;
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}

img {
  align-items: center;
  height: 300px;
  width: 300px;
}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #D4E6F1;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #2980B9;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  box-shadow: 24px 31px 11px -8px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 24px 31px 11px -8px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 24px 31px 11px -8px rgba(0, 0, 0, 0.48);
  background: #2980B9;
  font-size: 30px;
  border-radius: 50px;
  padding: 60px;
  color: white;
}
.container__form {
  color: #2980B9;
}
.container__form__input {
  color: #2980B9;
  font-size: 30px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #2980B9;
  padding: 8px;
  text-align: center;
}

.login-signup {
  color: white;
}