body{
    margin: 0;
}
.headline
{
    width: vw;
    height: 200px;
    background-color: grey;
    display: flex;
    flex-direction: raw;
    justify-content: space-around;
    @media screen and (max-width: 800px){
        flex-direction: column;
       
    }
        
    }
    


.box{
    width: 100px;
    height: 50px;
    background-color: black;
    
}
